

.subhead{
  background-color: #fafafa;
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 80px 0px;
  h1{
    font-family: header-font;
    font-size: 9vw;
    line-height: 70px;
    padding: 20px 0px;
    color:#233620;
  }

  div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:70%;
    margin-left:15%;

    p{
      font-size: 1.5vw;
      color:#233620;
      font-family: monserrat;
    }
  }
}



.events{
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 80px 0px 30px 0px;
  background-color: #628A3A;


  h1{
    font-size:150px;
    width: 100%;
    flex-grow: 5;
    font-family: header-font;
    color:white;
  }
  .mat-card{
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    color: white;
    padding:20px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    div{
      overflow: hidden;
      width:240px;
      height:240px;
      border-radius: 50%;
      background-color: black;
      margin:20px 0px;

      img{
        object-fit: cover;
        transform: scale(1.2);
        transition: .2s ease-in-out;
      }
    }


    .mat-card-content{
      h1{
        font-size:20px;
        inline-size: 300px;
        overflow-wrap: break-word;
        width:300px;
        height: 50px;
        flex-grow: 5;
        font-family: monserrat-light;
      }
    }

    .mat-card-actions{
      display:flex;
      flex-direction: row;
      justify-content: center;
      width:100%;

      .mat-icon{
        transition: .2s ease-in-out;
      }
      p{
        transition: .2s ease-in-out;
        margin-left:11px;
      }
    }
  }

  div.see-more{
    margin-top:30px;
    flex-grow: 5;
    width:100%;
    color: #233620;
    font-family: monserrat;
    font-size:18px;
    cursor: pointer;

    p{
      margin:0;
    }
  }
  div.see-more:hover{
    color:#a1ff63;
  }

  .mat-card:hover{
    cursor: pointer;
  }
  .mat-card:hover > div img{
    opacity: 0.5;
    transform: scale(1);
  }
  .mat-card:hover > .mat-card-actions .mat-icon{
    margin-left:10px;
    color:#a1ff63;
  }
  .mat-card:hover > .mat-card-actions p{
    margin-left:21px;
    color:#a1ff63;
  }
}

.projects{
  background-color: #fafafa;

  h1{
    color:#233620;
  }

  .mat-card{
    color:#628A3A;
  }
  .mat-card:hover > .mat-card-actions .mat-icon{
    margin-left:10px;
    color:#233620;
  }
  .mat-card:hover > .mat-card-actions p{
    margin-left:21px;
    color:#233620;
  }

  div.see-more:hover{
    color:#628A3A;
  }
}

.camp-display{

  .mat-card{

    margin-top:20px;
    div{
      width:170px;
      height:170px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0);
      transition: .2s ease-in-out;

      img{
        object-fit: cover;
        transform: scale(1);
        transition: .2s ease-in-out;
        margin:0px;
        width:170px;
        height:170px;
      }
    }

    .mat-card:nth-child(4){
      .mat-card-content{
        h1{
          font-size:20px;
        }
      }
    }
  }

  .mat-card:hover > div img{
    opacity: 1;
    transform: scale(1);
  }
  .mat-card:hover > div{
    background-color: white;
  }
}



.news{
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 50px 0px;
  background-color: #fafafa;

  h1{
    font-size:120px;
    width: 100%;
    flex-grow: 5;
    font-family: header-font;
    color:#233620;
    padding-bottom:40px;
  }
  .mat-card{
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    width: 420px;
    height: 320px;
    color: #fafafa;
    padding:0;
    margin: 10px;

    div{
      display:flex;
      justify-content: left;
      flex-direction: row;
      align-items: flex-end;
      overflow: hidden;
      text-align: left;
      width:100%;
      height:100%;
      background-color: rgba(0, 0, 0, 0.4);

      .mat-card-content{
        padding:0px 20px;
        font-size: 12px;

        h1{
          font-size:25px;
          color:white;
          width: 100%;
          flex-grow: 5;
          font-family: monserrat;
          line-height:100%;
          padding:0;
          margin: 0;
        }
        p{
          padding:0;
          text-align: justify;
          text-justify: inter-word;
        }

        .desc{
          height: 0px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          opacity: 0;
          transition: .1s ease-in-out;
          font-family: monserrat-light;
        }
        .read{
          display:flex;
          flex-direction: row;
          justify-content: left;
          align-items: center;
          width:100%;
          background-color: rgba(0, 0, 0, 0.0);
          font-family: monserrat-light;

          .mat-icon{
            transition: .2s ease-in-out;
          }
          p{
            transition: .2s ease-in-out;
            margin:0px;
          }}
      }

    }
  }
  div.see-more{
    margin-top:30px;
    flex-grow: 5;
    width:100%;
    color: black;
    font-family: monserrat;
    font-size:18px;

    p{
      margin:0;
    }
  }
  div.see-more:hover{
    color:#628A3A;
  }

  :hover{
    cursor: pointer;
  }
  .mat-card:hover > div{
    background-color: rgba(0, 0, 0, 0.6);
  }
  .mat-card:hover > div .mat-card-content .desc{
    height:60px;
    opacity: 1;
  }
  .mat-card:hover > div .mat-card-content .read p{
    color:#a1ff63;
  }
  .mat-card:hover > div .mat-card-content .read .mat-icon{
    margin-left:10px;
    color:#a1ff63;
  }
}


//------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 920px){
  .camp-display{

    .mat-card{
      padding: 20px 100px;
    }
  }
}


@media screen and (max-width: 786px){
  .subhead{
    padding: 30px 0px;
    h1{
      font-family: header-font;
      font-size: 10vw;
      line-height: 20px;
      padding: 10px 0px;
      color:#233620;
    }
    div{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      width:70%;
      margin-left:15%;

      p{
        font-size: 4vw;
        color:#233620;
        font-family: monserrat;
      }
    }
  }


  .camp-display{

    .mat-card{
      padding: 0px 70px;
    }
  }

  .events{

    h1{
      font-size:120px;
    }
  }


  .news{
    .mat-card{
      width:70vw;
      height: 50vw;

      div{
        .mat-card-content{
          padding:0px 20px;

          h1{
            font-size:4.2vw;
          }
          .desc{
            height:auto;
            opacity: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px){
  .news{
    .mat-card{
      width:80vw;
      height: 80vw;

      div{
        .mat-card-content{
          padding:0px 10px;

          h1{
            font-size:6vw;
          }
          .desc{
            font-size:11px;
            height:auto;
            opacity: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .read{
            font-size:11px;
            .mat-icon{
              width:18px;
              height: 18px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}



