<app-jumbotron [slides]="jumbotron"></app-jumbotron>
<div class ="subhead">
  <h1>
    For a Cleaner and Greener Bohol
  </h1>
  <div><p>Kahinlo</p><p>Katungdanan</p><p>Kalunhaw</p>
  </div>
</div>

<div class="events camp-display">
  <h1>Camps</h1>
  <mat-card class="events-card"  *ngFor="let camp of camps">
    <div>
      <a href="{{camp.link}}"><img mat-card-lg-image src="{{camp.img}}" ></a>
    </div>
    <mat-card-content>
      <h1>{{camp.title}}</h1>
    </mat-card-content>
  </mat-card>
</div>


<div class="projects events">
  <h1>Projects</h1>
  <mat-card class="events-card"  *ngFor="let project of projects">
    <div>
      <img mat-card-xl-image src="{{project.project.image.image}}" >
    </div>
    <mat-card-content>
      <h1>{{project.project.title}}</h1>
    </mat-card-content>
    <mat-card-actions>
      <p>Know More</p>
      <mat-icon>arrow_forward_ios</mat-icon>
    </mat-card-actions>
  </mat-card>
  <div class="see-more"  routerLink="/projects">
    <p>See more</p>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</div>


<div class="events">
  <h1>Events</h1>
  <mat-card class="events-card"  *ngFor="let event of events">
    <div>
      <img mat-card-xl-image src="{{event.event.image.image}}" >
    </div>
    <mat-card-content>
      <h1>{{event.event.title}}</h1>
    </mat-card-content>
    <mat-card-actions>
      <p>Know More</p>
      <mat-icon>arrow_forward_ios</mat-icon>
    </mat-card-actions>
  </mat-card>
  <div class="see-more" routerLink="/events">
    <p>See more</p>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</div>


<div class="news">
  <h1>News</h1>
  <mat-card class="events-card"  *ngFor="let soloNews of news" style="background-image: url('{{soloNews.image.image}}');background-size: cover;background-position: center;" >
    <div>
      <mat-card-content>
        <h1>{{soloNews.title}}</h1>
        <p>{{soloNews.date}}</p>
        <p class="desc">{{soloNews.description}}</p>
        <div class="read">
          <p>Read More</p>
          <mat-icon>arrow_forward_ios</mat-icon>
        </div>
      </mat-card-content>
   </div>
  </mat-card>
  <div class="see-more">
    <p>See more</p>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</div>

