.subhead {
  background-color: #fafafa;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 80px 0px;
}

.subhead h1 {
  font-family: header-font;
  font-size: 9vw;
  line-height: 70px;
  padding: 20px 0px;
  color: #233620;
}

.subhead div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin-left: 15%;
}

.subhead div p {
  font-size: 1.5vw;
  color: #233620;
  font-family: monserrat;
}

.events {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 80px 0px 30px 0px;
  background-color: #628A3A;
}

.events h1 {
  font-size: 150px;
  width: 100%;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  font-family: header-font;
  color: white;
}

.events .mat-card {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events .mat-card div {
  overflow: hidden;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  margin: 20px 0px;
}

.events .mat-card div img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.events .mat-card .mat-card-content h1 {
  font-size: 20px;
  inline-size: 300px;
  overflow-wrap: break-word;
  width: 300px;
  height: 50px;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  font-family: monserrat-light;
}

.events .mat-card .mat-card-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.events .mat-card .mat-card-actions .mat-icon {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.events .mat-card .mat-card-actions p {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin-left: 11px;
}

.events div.see-more {
  margin-top: 30px;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  width: 100%;
  color: #233620;
  font-family: monserrat;
  font-size: 18px;
}

.events div.see-more p {
  margin: 0;
}

.events div.see-more:hover {
  color: #a1ff63;
}

.events .mat-card:hover {
  cursor: pointer;
}

.events .mat-card:hover > div img {
  opacity: 0.5;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.events .mat-card:hover > .mat-card-actions .mat-icon {
  margin-left: 10px;
  color: #a1ff63;
}

.events .mat-card:hover > .mat-card-actions p {
  margin-left: 21px;
  color: #a1ff63;
}

.projects {
  background-color: #fafafa;
}

.projects h1 {
  color: #233620;
}

.projects .mat-card {
  color: #628A3A;
}

.projects .mat-card:hover > .mat-card-actions .mat-icon {
  margin-left: 10px;
  color: #233620;
}

.projects .mat-card:hover > .mat-card-actions p {
  margin-left: 21px;
  color: #233620;
}

.projects div.see-more:hover {
  color: #628A3A;
}

.camp-display .mat-card {
  margin-top: 20px;
}

.camp-display .mat-card div {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.camp-display .mat-card div img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin: 0px;
  width: 170px;
  height: 170px;
}

.camp-display .mat-card .mat-card:nth-child(4) .mat-card-content h1 {
  font-size: 20px;
}

.camp-display .mat-card:hover > div img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.camp-display .mat-card:hover > div {
  background-color: white;
}

.news {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 50px 0px;
  background-color: #fafafa;
}

.news h1 {
  font-size: 120px;
  width: 100%;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  font-family: header-font;
  color: #233620;
  padding-bottom: 40px;
}

.news .mat-card {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 420px;
  height: 320px;
  color: #fafafa;
  padding: 0;
  margin: 10px;
}

.news .mat-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.news .mat-card div .mat-card-content {
  padding: 0px 20px;
  font-size: 12px;
}

.news .mat-card div .mat-card-content h1 {
  font-size: 25px;
  color: white;
  width: 100%;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  font-family: monserrat;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

.news .mat-card div .mat-card-content p {
  padding: 0;
  text-align: justify;
  text-justify: inter-word;
}

.news .mat-card div .mat-card-content .desc {
  height: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  opacity: 0;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  font-family: monserrat-light;
}

.news .mat-card div .mat-card-content .read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  font-family: monserrat-light;
}

.news .mat-card div .mat-card-content .read .mat-icon {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.news .mat-card div .mat-card-content .read p {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin: 0px;
}

.news div.see-more {
  margin-top: 30px;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  width: 100%;
  color: black;
  font-family: monserrat;
  font-size: 18px;
}

.news div.see-more p {
  margin: 0;
}

.news div.see-more:hover {
  color: #628A3A;
}

.news :hover {
  cursor: pointer;
}

.news .mat-card:hover > div {
  background-color: rgba(0, 0, 0, 0.6);
}

.news .mat-card:hover > div .mat-card-content .desc {
  height: 60px;
  opacity: 1;
}

.news .mat-card:hover > div .mat-card-content .read p {
  color: #a1ff63;
}

.news .mat-card:hover > div .mat-card-content .read .mat-icon {
  margin-left: 10px;
  color: #a1ff63;
}

@media screen and (max-width: 920px) {
  .camp-display .mat-card {
    padding: 20px 100px;
  }
}

@media screen and (max-width: 786px) {
  .subhead {
    padding: 30px 0px;
  }
  .subhead h1 {
    font-family: header-font;
    font-size: 10vw;
    line-height: 20px;
    padding: 10px 0px;
    color: #233620;
  }
  .subhead div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 70%;
    margin-left: 15%;
  }
  .subhead div p {
    font-size: 4vw;
    color: #233620;
    font-family: monserrat;
  }
  .camp-display .mat-card {
    padding: 0px 70px;
  }
  .events h1 {
    font-size: 120px;
  }
  .news .mat-card {
    width: 70vw;
    height: 50vw;
  }
  .news .mat-card div .mat-card-content {
    padding: 0px 20px;
  }
  .news .mat-card div .mat-card-content h1 {
    font-size: 4.2vw;
  }
  .news .mat-card div .mat-card-content .desc {
    height: auto;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 550px) {
  .news .mat-card {
    width: 80vw;
    height: 80vw;
  }
  .news .mat-card div .mat-card-content {
    padding: 0px 10px;
  }
  .news .mat-card div .mat-card-content h1 {
    font-size: 6vw;
  }
  .news .mat-card div .mat-card-content .desc {
    font-size: 11px;
    height: auto;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .news .mat-card div .mat-card-content .read {
    font-size: 11px;
  }
  .news .mat-card div .mat-card-content .read .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=homepage.component.css.map */