<div>
  <table class="table">
      <tr class="table-header">
        <td><h1>Collective Pages</h1></td>
        <td colspan="3"><button mat-raised-button color="primary" routerLink='/admin/collective-add-edit/{{selected}}/'><mat-icon>note_add</mat-icon> Add {{selected | titlecase}}</button><button mat-button><mat-icon class="delete">delete</mat-icon></button></td>
      </tr>

      <tr class="chiplist">
        <td colspan="4">
        <mat-chip-list>
          <mat-chip (click)="changeCollection('project')"  [style.background-color]="selected == 'project'? '#5C7437': '#c1c1c1'"  [style.border]="selected == 'project'? 'none': '2px solid #3D512C'" [style.color]="selected == 'project'? 'white': '#233620'">Projects</mat-chip>
          <mat-chip (click)="changeCollection('event')"  [style.background-color]="selected == 'event'? '#5C7437': '#c1c1c1'"  [style.border]="selected == 'event'? 'none': '2px solid #3D512C'" [style.color]="selected == 'event'? 'white': '#233620'">Events</mat-chip>
          <mat-chip (click)="changeCollection('news')"  [style.background-color]="selected == 'news'? '#5C7437': '#c1c1c1'" [style.border]="selected == 'news'? 'none': '2px solid #3D512C'" [style.color]="selected == 'news'? 'white': '#233620'">News</mat-chip>
          <mat-chip (click)="changeCollection('announcement')"  [style.background-color]="selected == 'announcement'? '#5C7437': '#c1c1c1'" [style.border]="selected == 'announcement'? 'none': '2px solid #3D512C'" [style.color]="selected == 'announcement'? 'white': '#233620'">Announcement</mat-chip>
          </mat-chip-list>
        </td>
      </tr>
      <tr class="col-header">
          <th>Title</th>
          <th>Date Created</th>
          <th *ngIf="selected != 'news'">Camp</th>
          <th *ngIf="selected != 'news'">Ongoing</th>
      </tr>
      <tr  class="table-content" *ngFor="let item of displayList | slice:currentPage:lastPage" routerLink='/admin/collective-add-edit/{{selected}}/{{item.id}}'>
        <td width="40%"><mat-checkbox color="primary">{{item.title}}</mat-checkbox>
        <td width="20%">{{item.start_date}}</td>
        <td *ngIf="selected != 'news' && selected != 'announcement'" width="20%">{{item.camp}}</td>
        <td *ngIf="selected != 'news' && selected != 'announcement'" width="20%">{{item.status}}</td>
      </tr>
      <tr *ngIf="!displayList || displayList.length < 1" class="empty-case">
        <th colspan="4">{{selected | titlecase}} is empty</th>
      </tr>
  </table>

  <app-app-pagination  *ngIf="displayList && displayList.length >= 1" [totalRecords]="displayList.length" [recordsPerPage]="8" (onPageChange)="updateDisplay($event)" ></app-app-pagination>

</div>
