div{
  background-color: rgb(228, 228, 228);
  padding: 30px 60px;
  font-family: monserrat;
  color: #fafafa;
  height: calc(100vh - 88px);
  .table-head{
      background-color: #536B3C;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      width:100%;
      height: 50px;
  }
  .table{
      width: 100%;
      border-radius: 10px;
      background-color: #fafafa;
      border-collapse: collapse;
      overflow:hidden;
      tr.table-header{
          background-color: #536B3C;
          width:100%;
          text-align: left;
          padding: 15px;
          height:60px;
          td{
            vertical-align: middle;
            font-family: monserrat;
            color:white;
            h1{
              font-family: monserrat;
              font-weight: 700;
              font-size:15px;
              margin:0;
            }
            /*.mat-raised-button{
              background:#adda81;
              height:40px;
              padding:0px 7px;
              background:#fafafa;
              color:#7bad49;
            }*/
            .mat-button{
              min-width: 40px !important;
              width:40px;
              padding:0;
              margin-left:5px;
              cursor:pointer;
              .delete{
                vertical-align: middle;
                font-size: 30px;
                width:40px;
                line-height: 40px;
                height:40px;
                text-align: center;
              }
            }
          }
          td:nth-child(2){
            text-align: right;
          }
      }
      tr.chiplist{
        background: #c1c1c1;
        .mat-chip-list{
          .mat-chip{
            border:2px solid #3D512C;
            &:hover{
              cursor:pointer;
            }
          }
        }
      }
      .empty-case{
        th{
          text-align:center !important;
          color:rgb(73, 80, 66);
          font-weight: 400;
        }
      }
      tr{
          height: 50px;
          td,th{
              padding: 5px 20px;
              text-align: center;
          }
          td:first-child, th:first-child{
            text-align: left;
          }
      }
      .col-header{
          background-color: #dbdbdb;
          color:#233620;
      }
      .table-content{
          color: #233620;
          &:hover{
              background-color: #5C7437d2;
              color: #fafafa;
          }
          .page_name{
              &:hover{
                  cursor: pointer;
              }
          }
      }
  }
}
