<div>
  <table class="table">
      <tr class="table-header">
        <td><h1>Collective Pages</h1></td>
        <td colspan="3"><button mat-raised-button><mat-icon>note_add</mat-icon> Add Project</button><button mat-button><mat-icon class="delete">delete_forever</mat-icon></button></td>
      </tr>

      <tr class="chiplist">
        <td colspan="4">
        <mat-chip-list>
          <mat-chip (click)="changeCollection('projects')"  [style.background-color]="selected == 'projects'? '#7bad49': '#c1c1c1'"  [style.border]="selected == 'projects'? 'none': '2px solid black'" [style.color]="selected == 'projects'? 'white': 'black'">Projects</mat-chip>
          <mat-chip (click)="changeCollection('events')"  [style.background-color]="selected == 'events'? '#7bad49': '#c1c1c1'"  [style.border]="selected == 'events'? 'none': '2px solid black'" [style.color]="selected == 'events'? 'white': 'black'">Events</mat-chip>
          <mat-chip (click)="changeCollection('news')"  [style.background-color]="selected == 'news'? '#7bad49': '#c1c1c1'" [style.border]="selected == 'news'? 'none': '2px solid black'" [style.color]="selected == 'news'? 'white': 'black'">News</mat-chip>
          </mat-chip-list>
        </td>
      </tr>
      <tr class="col-header">
          <th>Title</th>
          <th>Date Created</th>
          <th *ngIf="selected != 'news'">Camp</th>
          <th *ngIf="selected != 'news'">Ongoing</th>
      </tr>
      <tr  class="table-content" *ngFor="let item of displayList | slice:currentPage:lastPage">
        <td width="40%"><mat-checkbox color="primary">{{item.title}}</mat-checkbox>
        <td width="20%">{{item.start_date}}</td>
        <td *ngIf="selected != 'news'" width="20%">{{item.camp}}</td>
        <td *ngIf="selected != 'news'" width="20%">{{item.status}}</td>
      </tr>
  </table>

  <app-app-pagination  *ngIf="displayList && displayList.length >= 1" [totalRecords]="displayList.length" [recordsPerPage]="8" (onPageChange)="updateDisplay($event)" ></app-app-pagination>

</div>
