<div class="container">
    <table class="table">
        <tr class="table-header">
            <th colspan="4">Newsletter Subscribers</th>
        </tr>
        <tr class="col-header">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Subscription Date</th>
        </tr>
        <tr  class="table-content" *ngFor="let item of subscribers | slice:currentPage:lastPage">
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.sub_date}}</td>
        </tr>
    </table>
    <app-app-pagination *ngIf="subscribers && subscribers.length >= 1" [totalRecords]="subscribers.length" [recordsPerPage]="6" (onPageChange)="updateDisplay($event)"  ></app-app-pagination>
</div>