<div>
  <div class = "header" id="top">
  <img src="assets/images/carousel/carousel1.jpg"/>
  </div>

  <div class ="subhead">
    <h1>Projects</h1>
    <p>See what KL has been  working on</p>
  </div>
</div>


<div class="container">
  <div class="block">
    <div class="announcements">
      <button mat-button (click)="openDialog()" class="filter">
        <mat-icon>filter_list</mat-icon>
        Filter by
      </button>
    </div>
</div>
  <app-project-list [projects]="(projectDisplay$ | async)!" ></app-project-list>
</div>

