<div>
    <table class="table">
        <tr class="table-header">
            <th colspan="4">Single Pages List</th>
        </tr>
        <tr class="col-header">
            <th>Page</th>
            <th>Status</th>
            <th>Updated By</th>
            <th>Last Updated</th>
        </tr>
        <tr  class="table-content" *ngFor="let item of singlePageList | slice:0:10">
            <td class="page_name" *ngIf="item.page == 'Homepage'" routerLink="/admin/cms-homepage">{{item.page}}</td>
            <td class="page_name" *ngIf="item.page == 'Org Structure'" routerLink="/admin/cms-org-struct">{{item.page}}</td>
            <td class="page_name" *ngIf="item.page == 'Baybayon'" routerLink="/admin/cms-camp/{{item.page}}">{{item.page}}</td>
            <td class="page_name" *ngIf="item.page == 'Lasang'" routerLink="/admin/cms-camp/{{item.page}}">{{item.page}}</td>
            <td class="page_name" *ngIf="item.page == 'Suba'" routerLink="/admin/cms-camp/{{item.page}}">{{item.page}}</td>
            <td class="page_name" *ngIf="item.page == 'Zero Waste'" routerLink="/admin/cms-camp/{{item.page}}">{{item.page}}</td>
            <td>{{item.status}}</td>
            <td>{{item.updated_by}}</td>
            <td>{{item.last_updated}}</td>
        </tr>
    </table>
</div>
