div{
    background-color: rgb(228, 228, 228);
    padding: 30px 60px;
    font-family: monserrat;
    color: #fafafa;
    height: calc(100vh - 88px);
    .table{
        width: 100%;
        border-radius: 10px;
        background-color: #fafafa;
        tr{
            height: 50px;
            td{
                padding: 5px 10px;
            }
        }
        .table-header{
            background-color: #536B3C;
            th{
                &:first-child{
                    border-radius:10px 10px 0 0;
                }
            }
        }
        .col-header, .footer{
            background-color: #abada7;
        }
        .table-content{
            color: #233620;
            &:hover{
                background-color: #5C7437d2;
                color: #fafafa;
            }
            .page_name{
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}