ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width:100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding:0;
  li{
    font-family: monserrat;
    color:black;
    font-size: 20px;
    padding:4px;
    margin: 0px 4px;
    text-align: center;
    width:20px;
  }
  li:hover{
    cursor: pointer;
  }
  .active{
    color: #628A3A;
    font-weight: 700;
    background: #628a3a3b;
  }
  .icon{
    border-radius: 3px;
    color: white;
    background: #628A3A;
    width:24px;
    height:24px;
  }
  .disable{
    background: #8eaa72;
  }
  .active:hover, .disable:hover{
    cursor: default;
  }
}
