<nav aria-label="page navigation example" class ="page-nav">
  <ul class="pagination">
    <li class="page-item icon" [ngClass]="{'disable': activePage === 1}"  (click)="onClickPage(activePage - 1)"><mat-icon>chevron_left</mat-icon></li>
    <li class="page-item" *ngFor="let item of aheadPages"
      (click)="onClickPage(item)">{{item}}</li>
    <li class="page-item" [ngClass]="{'active': activePage === item}" *ngFor="let item of behindPages"
      (click)="activePage != item && onClickPage(item);" >{{item}}</li>
    <li class="page-item icon"[ngClass]="{'disable': activePage === pages.length}" (click)="onClickPage(activePage + 1)"><mat-icon>chevron_right</mat-icon></li>
  </ul>
</nav>
