<div class="container">

  <form [formGroup]="collective" (ngSubmit)="onSubmit(fileUpload)">
    <div class="header">
      <span>
        <button mat-button type="button" routerLink="/admin/collective"><mat-icon>arrow_left</mat-icon></button>
        Collective Pages
      </span>
      <span><button mat-raised-button type="submit">Save {{collectiveType | titlecase}}</button>
        <button mat-button type="button"><mat-icon class="delete">delete_forever</mat-icon></button></span>
    </div>
    <div class="body">
      <h1>New {{collectiveType | titlecase}}</h1>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="start_date" (dateChange)="updateStatus()">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="collectiveType!='announcement'">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endpicker" formControlName="end_date"  (dateChange)="updateStatus()">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" *ngIf="collectiveType!='announcement'">
          <mat-label>Status</mat-label>
          <input matInput disabled [value]="status">
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" *ngIf="collectiveType!='announcement'">
          <mat-label>Camps</mat-label>
          <mat-select formControlName="camp">
            <mat-option value="Baybayon">Baybayon</mat-option>
            <mat-option value="Lasang">Lasang</mat-option>
            <mat-option value="Suba">Suba</mat-option>
            <mat-option value="Zero Waste">Zero Waste</mat-option>
            <mat-option value="General">General</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
      <div class="form-row" >

        <mat-label style="margin:10px">{{collectiveType| titlecase}} Picture</mat-label>
        <div class="profile-container">
          <img [src]="profileImage" [alt]="fileName"/>
          <input type="file" class="file-input" id="fileImg"
          accept="image/*" (change)="onFileChange($event)" #fileUpload />

          <div class="file-upload">

            {{fileName || "No Picture Provided"}}

            <button mat-icon-button class="upload-btn"
            (click)="fileUpload.value = '';fileUpload.click()" type="button">
            <mat-icon>attach_file</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </div>

  </form>
</div>
