.container{
    background-color: rgb(228, 228, 228);
    padding: 30px 60px;
    form{
      background:#fafafa;
      border-radius: 15px;
      overflow: hidden;
      width:70%;
      margin:auto;
      .header{
        background-color: #536B3C;
        display:flex;
        color: #fafafa;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width:auto;
        height: 50px;
        padding: 0 15px;
      }
      .body{
        padding: 20px 50px;      
        h1{
          font-size:20px;
          font-family: monserrat;
          font-weight: 400;
          margin-bottom: 10px;
        }
        
        .content{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            .left{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: auto;
                row-gap: 20px;
            }
            .right{
                justify-self: center;
                width: 50%;
            }
            .form-row{
                h2{
                    font-size:15px;
                    font-family: monserrat;
                    font-weight: 400;
                    margin:0;
                }
                hr{
                    border: none;
                    height: 1px;
                    background-color: #536B3C;
                    width: 70%;
                    margin: 0 0 8px 0;
                }
                .file-input {
                    display: none;
                }
            }
        }
        
     }
    }
  }
  