<div class="container">

    <form [formGroup]="page" (ngSubmit)="onSubmit(header_image,content_image)">
        <div class="header">
            <span>
                <button mat-icon-button type="button" routerLink="/admin/single-page-list"><mat-icon>arrow_back</mat-icon></button>
                Back to Page List
            </span>
            <span>
                <button mat-raised-button color="primary" type="submit">Update Camp Info</button>
                <button mat-icon-button type="button"><mat-icon class="delete">delete</mat-icon></button>
            </span>
        </div>
        <div class="body">
            <h1>Camp {{campName | titlecase}}</h1>
            <div class="content">
                <div class="left">
                    <div class="form-row" >
                        <h2>Header Image</h2>
                        <hr>
                        <input type="file" class="file-input" id="fileImg"
                        accept="image/*"
                        (change)="onFileChange(header_image)" #header_image name="header_image" formControlName="header_image">
                        <div class="file-upload">
                            {{headerFileName || "No file uploaded yet."}}
                            <button mat-mini-fab color="primary" class="upload-btn"
                            (click)="header_image.value = '';header_image.click()" type="button">
                            <mat-icon>attach_file</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="form-row" >
                        <h2>Content Image</h2>
                        <hr>
                        <input type="file" class="file-input" id="fileImg"
                        accept="image/*"
                        (change)="onFileChange(content_image)" #content_image name="content_image" formControlName="content_image">
                        <div class="file-upload">
                            {{contentFileName || "No file uploaded yet."}}
                            <button mat-mini-fab color="primary" class="upload-btn"
                            (click)="content_image.value = '';content_image.click()" type="button">
                            <mat-icon>attach_file</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="form-row">
                        <h2>Camp Description</h2>
                        <hr>
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" style="height: 100%;"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
  
    </form>
</div>
  