.container{
  background-color: rgb(228, 228, 228);
  padding: 30px 60px;
  font-family: monserrat;
  height: calc(100vh - 88px);
  form{
    background:white;
    border-radius: 15px;
    overflow: hidden;
    width:70%;
    margin:auto;
    .header{
      background-color: #536B3C;
      display:flex;
      color: #fafafa;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width:100%;
      height: 50px;
    }
    .body{
      padding: 50px 0px;
      h1{
        font-size:30px;
        font-family: monserrat;
        font-weight: 400;
        width: 60%;
        margin:auto;
      }
      .form-row{
        width: 60%;
        margin:auto;
        mat-form-field{
          margin:10px;
        }
        .file-input {
          display: none;
        }
      }
   }
  }
}
