.container{
    background-color: rgb(228, 228, 228);
    color: #233620;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    height: max-content;
    .profile{
        background-color: #fafafa;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: max-content;
        font-family: monserrat;
        box-shadow: 5px 5px #536B3C;
        hr{
            height: 2px;
            width: 50%;
            margin: 20px 0;
            background-color:#536B3C;
            border: none;
        }
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 5px 0 15px 0;
        }
        p{
            font-size: 15px;
        }
        h4{
            font-size: 20px;
            margin-bottom: 0;
        }
        h5{
            margin: 0;
        }
    }
    .admin-list{
        font-family: monserrat;
        color: #fafafa;
        .table{
            width: 100%;
            border-radius: 10px;
            background-color: #fafafa;
            tr{
                height: 50px;
                td{
                    padding: 5px 20px;
                    text-align: center;
                    img{
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                }
            }
            thead{
                .table-header{
                    background-color: #536B3C;
                    th{
                        button{
                            margin-left: 75px;
                            font-size: 10px;
                            .mat-icon{
                                font-size: 10px;
                                width: auto;
                                height: auto;
                            }     
                        }
                        &:first-child{
                            border-radius:10px 10px 0 0;
                        }
                    }
                }
                .col-header{
                    background-color: #abada7;
                    th{
                        position: sticky; 
                        top: 0;
                        padding: 5px 10px;
                    }
                }
            }
            tbody{
                .table-content{
                    color: #233620;
                    #username{
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .mat-icon{
                        margin: 0 5px;
                        color: #3D512C;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    &:hover{
                        background-color: #5C7437d2;
                        color: #fafafa;
                        .mat-icon{
                            color: #fafafa;
                        }
                    }
                }
            }
        }
    }

    
}