<div class="container">
    <div class="profile" *ngIf="selectedAdmin">
        <img src="{{selectedAdmin.picture}}" alt="picture">
        <h4>{{selectedAdmin.username}}</h4>
        <h5>username</h5>
        <hr>
        <p>First Name: {{selectedAdmin.first_name}}</p>
        <p>Last Name: {{selectedAdmin.last_name}}</p>
        <p>Email: {{selectedAdmin.email}}</p>
        <p>Role: {{selectedAdmin.role}}</p>
        <p>Date Added: {{selectedAdmin.date_added}}</p>
    </div>

    <div class="admin-list">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <th colspan="5">Administrators
                        <button mat-raised-button color="primary"><mat-icon>add</mat-icon> Add Admin</button>
                    </th>
                </tr>
                <tr class="col-header">
                    <th>ID</th>
                    <th>Username</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr  class="table-content" *ngFor="let item of admin_list | slice:currentPage:lastPage" (click)="displayInfo(item)">
                    <td>{{item.id}}</td>
                    <td id="username"><img [src]="item.picture" alt="picture" style="border-radius:50%; height:30px; width:30px">{{item.username}}</td>
                    <td>{{item.date_added}}</td>
                    <td><mat-icon>edit</mat-icon> <mat-icon>delete</mat-icon></td>
                </tr>
            </tbody>
        </table>
        <app-app-pagination *ngIf="admin_list && admin_list.length >= 1" [totalRecords]="admin_list.length" [recordsPerPage]="6" (onPageChange)="updateDisplay($event)"></app-app-pagination>
    </div>

</div>