<div>
    <div class="profile">
        <img src="" alt="">
        <p><strong></strong></p>
        <p></p>
        <br>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>

    <!--

    <div class="table">
        <table class="table">
            <tr class="table-header">
                <th colspan="5">Administrators</th>
            </tr>
            <tr class="col-header">
                <th>Administrator</th>
                <th>Content Changed</th>
                <th>Action</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            <tr  class="table-content" *ngFor="let item of dashboard.audit_logs | slice:0:5">
                <td>{{item.administrator}}</td>
                <td>{{item.content_changed}}</td>
                <td>{{item.action}}</td>
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
            </tr>
        </table>
    </div>

    -->
    
</div>