<mat-nav-list>
    <div class="logo">
        <img src="../../assets/images/word_logo_ng.svg" alt="KL Logo"/>
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="list-item-active" (click)="resetDropdown()">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active" (click)="resetDropdown()">
        <mat-icon>insights</mat-icon>
        Analytics
    </a>
    <a mat-list-item (click)="clickDropdown()">
        <mat-icon>web</mat-icon>
        Page Content
    </a>
    <div class="dropdown" *ngIf="dropdown">
        <a mat-list-item routerLink="/admin/single-page-list" routerLinkActive="list-item-active">
            Singular
        </a>
        <a mat-list-item routerLink="/admin/collective" routerLinkActive="list-item-active">
            Collective
        </a>
    </div>
    <a mat-list-item routerLink="/admin/newsletter" routerLinkActive="list-item-active" (click)="resetDropdown()">
        <mat-icon>contact_mail</mat-icon>
        Newsletter Subscriptions
    </a>
    <a mat-list-item routerLink="/admin/admin-list" routerLinkActive="list-item-active" (click)="resetDropdown()">
        <mat-icon>supervisor_account</mat-icon>
        Administrators
    </a>
    <a mat-list-item routerLink="/admin/audit" routerLinkActive="list-item-active" (click)="resetDropdown()">
        <mat-icon>description</mat-icon>
        Audit Logs
    </a>
</mat-nav-list>
