.container{
    background-color: rgb(228, 228, 228);
    padding: 30px;
    font-family: monserrat;
    color: #fafafa;
    .table{
        width: 100%;
        border-radius: 10px;
        background-color: #fafafa;
        border-collapse: collapse;
        tr{
            height: 50px;
            td{
                padding: 5px 20px;
            }
        }
        .table-header{
            background-color: #536B3C;
            height:60px;
            th{
                font-size: 18px;
                text-align: left;
                padding: 5px 20px;
                &:first-child{
                    border-radius:10px 10px 0 0;
                }
            }
        }
        .col-header{
            background-color: #abada7;
            th{
                text-align: left;
                padding: 5px 20px;
            }
        }
        .table-content{
            color: #233620;
            &:hover{
                background-color: #5c7437d2;
                color: #fafafa;
            }
        }
    }
}