.body{
  background: #ced6c4;
  width:100%;
  height:100%;
  display:flex;

  .container{
    margin:auto;
    margin-top: 200px;
    width: 350px;
    padding: 50px 0px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px #536B3C;


    h2{
      color: #536B3C;
      font-size: 30px;
    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .loadSpinner{
        position: absolute;
        .mat-spinner{
          svg{
            circle.ng-star-inserted{
              color:#233620;
            }
          }
        }
      }

      #error-alert{
        background: #ff9999;
        font-size: 11px;
        width:100%;
        padding:3px;
        text-align: center;
        border-radius: 2px;
      }

      button{
        margin-top:20px;
        width:100%;
        background: #233620;
        color:white;
      }
      .mat-button-disabled{
        background:#5e7974;
      }

    }
  }
}
