<h1 class='no-events' *ngIf='!projects || projects.length < 1'>No project matched</h1>
<mat-card class="project-card" *ngFor="let project of projects | slice: currentPage:lastPage">

  <img mat-card-image src="{{project.image}}">

  <mat-card-content>
    <div class="project-header">
      <mat-chip-list class ="tags" aria-label="Fish selection">
        <div *ngFor="let tag of project.tags">
          <mat-chip *ngIf ="tag == 'General'" [style.background-color]="'#121212'" selected>General</mat-chip>
          <mat-chip *ngIf ="tag == 'Baybayon'" [style.background-color]="'#D9B863'" selected>Baybayon</mat-chip>
          <mat-chip *ngIf ="tag == 'Lasang'" [style.background-color]="'#3F6218'" selected>Lasang</mat-chip>
          <mat-chip *ngIf ="tag == 'Suba'" [style.background-color]="'#1C8BD4'" selected>Suba</mat-chip>
          <mat-chip *ngIf ="tag == 'Zero Waste'" [style.background-color]="'#9CCC65'" selected>Zero Waste</mat-chip>
          <mat-chip *ngIf ="tag == 'Ongoing'"[style.background-color]="'#f44336'" selected>Ongoing</mat-chip>
          <mat-chip *ngIf ="tag == 'Past'"[style.background-color]="'#C4C4C4'" selected>Past</mat-chip>
        </div>
      </mat-chip-list>
      <mat-card-title>{{project.title}}</mat-card-title>
      <p>{{project.start_date}}</p>
    </div>


        <p class="desc">{{project.description}}</p>


    <mat-card-actions class="course-actions">

        <button mat-raised-button color="primary" [routerLink]="['/indiv-project', project.id]">
            Read More
        </button>
    </mat-card-actions>
  </mat-card-content>

</mat-card>

<app-app-pagination *ngIf="projects && projects.length >= 1" [totalRecords]="projects.length" [recordsPerPage]="5" (onPageChange)="updateDisplay($event)"  ></app-app-pagination>





