.no-events{
  padding: 100px 0px;
}

.project-card{
  width:920px;
  height:260px;
  display: flex;
  flex-direction: row;
  padding:0;
  margin: 15px;
  box-shadow: none;
  background-color: transparent;


  img{
    width: 260px;
    height:260px;
    object-fit: cover;
    margin:0;

  }
  .mat-card-content{
    position:relative;
    padding-left:20px;
    height:100%;
    width: 100%;
    font-family: monserrat;
    color: #233620;
    p.desc{
      height:auto;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
      text-justify: inter-word;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    .project-header{
      display: flex;
      flex-direction: column;

      .tags{
        align-self: flex-end;
        margin-bottom: 5px;
        margin-right: 20px;
        margin-top: 5px;
        .mat-chip{
          padding: 2px 7px;
          border-radius: 50vw;
          font-weight: 100;
          font-size:10px;
          color:white;
          margin-left:2px;
          min-height: 23px !important;
        }
        .mat-chip:hover{
          cursor: pointer;
        }
      }

      .mat-card-title{
        font-family: monserrat;
        line-height: 30px;
        font-weight:700;
      }
    }
    .course-actions{
      position: absolute;
      bottom:9px;
      left:20px;
    }
  }
}

//------------------MEDIA QUERY-----------------------------------


@media screen and (max-width: 786px){

  .project-card{
    width: 90vw;
    height: 40vw;
    img{
      width: 40vw;
      height:40vw;
    }
    .mat-card-content{
      height:40vw;

    }
  }
}
@media screen and (max-width: 599px){
  .project-card{
    .mat-card-content{
      height:40vw;

      p.desc{
      -webkit-line-clamp: 2;
      font-size:11px;
      }
      .project-header{
        .tags{
          .mat-chip{
            min-height: 18px !important;
            font-size: 8px;
            padding: 0px 5px;
          }
        }
        .mat-card-title{
          font-size:17px;
          margin-bottom: 0px;
        }
        p{
          font-size:11px;
          margin-bottom: 2px;
        }
      }

      .course-actions{
        bottom:5px;
        button{
          padding: 0px 12px;
          font-size: 12px;
          line-height: 30px !important;
        }
      }
    }
  }
}
