
<mat-toolbar color="secondary" id="container">
  <button mat-icon-button color="primary" id="mobileMenu" mat-button (click)="navService.openNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/home" id="logo">
    <img src="assets/images/KL.png" alt="KL Logo" class="desktopImg"/>
    <img src="assets/images/kl_icon2.svg" alt="KL Logo" class="mobileImg"/>
  </a>

  <ul id="desktopNav">
    <li><a mat-button >What we do</a>
      <div class="dropdowns">
        <a mat-button routerLink="/news">News & Announcements</a>
        <a mat-button routerLink="/projects" >Projects</a>
        <a mat-button  routerLink="/events">Events</a>
      </div>
    </li>
    <li><a mat-button routerLink="/about" routerLinkActive="active">About Us</a>
      <div class="dropdowns">
        <a mat-button href="about#top">Organization Overview</a>
        <a mat-button class="submenu" href="about#vmc-section">Mission, Vision, Values</a>
        <a mat-button class="submenu" href="about#history">History</a>
        <a mat-button class="submenu" href="about#advocate">Advocates Covenant</a>
        <a mat-button class="submenu" href="about#camps">Camps</a>
        <a mat-button>Finances</a>
        <a mat-button>FAQs</a>
        <a mat-button href="org-struct">Organization Structure</a>
        <a mat-button>Member Demographics</a>
      </div>
    </li>
    <li><a mat-button href="contact-us">Contact Us</a></li>
  </ul>
  <button mat-flat-button color="primary" onclick="location.href = '/join-us';">Join Us</button>
</mat-toolbar>
