#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.643);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.643);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

#container .example-container {
  position: relative;
}

#container #mobileMenu {
  display: none;
}

#container a#logo {
  margin-left: 30px;
  height: 100%;
  padding: 2px;
}

#container a#logo .desktopImg {
  display: block;
  height: 100%;
}

#container a#logo .mobileImg {
  display: none;
}

#container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 20%;
  margin: 0;
}

#container ul li {
  position: relative;
  height: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: 100;
}

#container ul li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container ul li a.active {
  color: #628A3A;
}

#container ul li .dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  width: 200px;
  padding: 0;
  position: absolute;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: -1;
}

#container ul li .dropdowns a {
  display: none;
  background-color: #233620;
  font-weight: 100;
  text-align: left;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  opacity: 0;
  border-radius: 0px;
}

#container ul li .dropdowns :hover {
  background-color: #628A3A;
}

#container ul li .dropdowns .submenu {
  font-size: 55%;
  padding-left: 30px;
}

#container ul li:nth-child(1) .dropdowns a:nth-child(1) {
  -webkit-animation: rotateX 300ms 50ms ease-in-out forwards;
          animation: rotateX 300ms 50ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(1) .dropdowns a:nth-child(2) {
  -webkit-animation: rotateX 300ms 100ms ease-in-out forwards;
          animation: rotateX 300ms 100ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(1) .dropdowns a:nth-child(3) {
  -webkit-animation: rotateX 300ms 150ms ease-in-out forwards;
          animation: rotateX 300ms 150ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(2) .dropdowns a:nth-child(1) {
  -webkit-animation: rotateX 300ms 50ms ease-in-out forwards;
          animation: rotateX 300ms 50ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(2) .dropdowns a:nth-child(2) {
  -webkit-animation: rotateX 300ms 100ms ease-in-out forwards;
          animation: rotateX 300ms 100ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(2) .dropdowns a:nth-child(3) {
  -webkit-animation: rotateX 300ms 150ms ease-in-out forwards;
          animation: rotateX 300ms 150ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(2) .dropdowns a:nth-child(4) {
  -webkit-animation: rotateX 300ms 200ms ease-in-out forwards;
          animation: rotateX 300ms 200ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(2) .dropdowns a:nth-child(5) {
  -webkit-animation: rotateX 300ms 250ms ease-in-out forwards;
          animation: rotateX 300ms 250ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(2) .dropdowns a:nth-child(6) {
  -webkit-animation: rotateX 300ms 300ms ease-in-out forwards;
          animation: rotateX 300ms 300ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(2) .dropdowns a:nth-child(7) {
  -webkit-animation: rotateX 300ms 350ms ease-in-out forwards;
          animation: rotateX 300ms 350ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(2) .dropdowns a:nth-child(8) {
  -webkit-animation: rotateX 300ms 400ms ease-in-out forwards;
          animation: rotateX 300ms 400ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:nth-child(2) .dropdowns a:nth-child(9) {
  -webkit-animation: rotateX 300ms 450ms ease-in-out forwards;
          animation: rotateX 300ms 450ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

#container ul li:hover .dropdowns a {
  display: block;
}

#container ul li:hover {
  background-color: #233620;
  color: white;
}

@-webkit-keyframes rotateX {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes rotateX {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@media screen and (max-width: 786px) {
  .sidemenu {
    background: black;
  }
  #container #mobileMenu {
    display: block;
  }
  #container #desktopNav {
    display: none !important;
  }
  #container .desktopImg {
    display: none !important;
  }
  #container .mobileImg {
    display: block !important;
    margin: auto;
    height: 100%;
  }
}
/*# sourceMappingURL=nav-bar.component.css.map */