
#container{
  display: flex;
  position: fixed;
  width:100%;
  box-shadow:1px 2px 10px rgba(0, 0, 0, 0.643);
  justify-content:space-between;
  z-index:100;
  .example-container{
    position:relative;
  }
  #mobileMenu{
    display: none;
  }
  a#logo{
    margin-left:30px;
    height:100%;
    padding:2px;
    .desktopImg{
      display:block;
      height:100%;
    }
    .mobileImg{
      display:none;
    }
  }
  ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content:center;
    height: 100%;
    width: 20%;
    margin:0;
    li{
      position: relative;
      height: 100%;
      perspective: 1000px;
      z-index: 100;
      a{
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0px 20px;
        align-items: center;
      }
      a.active{
        color: #628A3A;
      }
      .dropdowns{
        display: flex;
        flex-direction: column;
        color:white;
        width: 200px;
        padding: 0;
        position:absolute;
        perspective: 1000px;
        z-index: -1;

        a{
          display: none;
          background-color: #233620;
          font-weight: 100;
          text-align: left;
          perspective: 1000px;
          opacity: 0;
          border-radius: 0px;
        }
        :hover{
          background-color: #628A3A;
        }
        .submenu{
          font-size:55%;
          padding-left:30px;
        }
      }
    }
    li:nth-child(1){
      @for $num from 1 through 3{
        .dropdowns a:nth-child(#{$num}){
        animation: rotateX 300ms ($num * 50ms) ease-in-out forwards;
        transform-origin: top center;
        }
      }
    }
    li:nth-child(2){
      @for $num from 1 through 9{
        .dropdowns a:nth-child(#{$num}){
        animation: rotateX 300ms ($num * 50ms) ease-in-out forwards;
        transform-origin: top center;
        }
      }
    }
    li:hover  .dropdowns a{
      display:block;
    }
    li:hover {
      background-color: #233620;
      color: white;
    }
  }
}
@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@media screen and (max-width: 786px){

  .sidemenu
  {
    background:black;
  }
  #container{
    #mobileMenu{
      display:block;
    }
    #desktopNav{
      display: none !important;
    }

    .desktopImg{
      display:none !important;
    }
    .mobileImg{
      display:block !important;
      margin: auto;
      height:100%;
    }
  }
}

