.logo{
    text-align: center;
    padding: 5px;
    img{
        width: 240px;
    }
}

.mat-nav-list{
    width: 100%;
    overflow-x: hidden;
    
    .mat-list-item{
        font-family: monserrat;
        color: #fafafa;
        height: 60px !important;
        margin: 10px 0;
        ::ng-deep{
            .mat-list-item-content{
                border-radius: 5px;
                margin: 0 10px;
                &:hover{
                    background-color: #536B3C;
                }
            }
        }
        .mat-icon{
            vertical-align: center;
            margin-right: 15px;
        }
    }

    .mat-divider{
        border-top-width: 2px;
        border-color: #fafafa;
    }

    .dropdown{
        padding: 1px 0;
        margin: 10px 0;
        background-color: #536B3C;
        .mat-list-item{
            margin: 10px 0;
            ::ng-deep{
                .mat-list-item-content{
                    padding-left: 55px;
                    &:hover{
                        background-color: #56753F;
                    }
                }
            }
            .mat-icon{
                vertical-align: center;
                margin-right: 15px;
            }
        }
    }

    .list-item-active{
        ::ng-deep{
            .mat-list-item-content{
                background-color: #536B3C !important;
                &:hover{
                    background-color: #56753F !important;
                }
            }
        }
    }

    #logout{
        color: #fafafa;
        position: absolute;
        cursor:pointer;
        bottom: 8px;
        left: 88%;
        transform: translate(-50%);
        .mat-icon{
            font-size: 30px;
        }
    }
}
