<div class="container">
    <table class="table">
        <tr class="table-header">
            <th colspan="5">Audit Logs</th>
        </tr>
        <tr class="col-header">
            <th>Administrator</th>
            <th>Changed Content</th>
            <th>Action</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        <tr  class="table-content" *ngFor="let item of logs | slice:currentPage:lastPage">
            <td>{{item.administrator}}</td>
            <td>{{item.content_changed}}</td>
            <td>{{item.action}}</td>
            <td>{{item.date}}</td>
            <td>{{item.time}}</td>
        </tr>
    </table>
    <app-app-pagination *ngIf="logs && logs.length >= 1" [totalRecords]="logs.length" [recordsPerPage]="6" (onPageChange)="updateDisplay($event)"></app-app-pagination>
</div>