<div>
  <div class = "header">
  <img src="assets/images/carousel/carousel1.jpg"/>
  </div>

  <div class ="subhead">
    <h1>About Us</h1>
    <p>Get to know KL and its members</p>
  </div>
</div>

<div class="demographic">
  <span class="num-indicator">
    <mat-icon class="group-icon">group</mat-icon>
    <p class="num-members">{{members}}</p>
  </span>
  <span><p>campers, ready to fight for the environment</p>
    <div class="see-more">
      <p>view full member demographics</p>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </span>
</div>
<app-about-camp></app-about-camp>
