div .header {
  width: 100%;
  overflow: hidden;
  height: 250px;
}

div .header img {
  width: 100%;
}

div .subhead {
  background-color: #fafafa;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 90px 0px;
}

div .subhead h1 {
  font-family: header-font;
  font-size: 200px;
  line-height: 70px;
  padding: 20px 0px;
  color: #233620;
}

div .subhead p {
  font-size: 16px;
  color: #233620;
  font-family: monserrat;
}

.demographic {
  width: 100%;
  background-color: #628A3A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: monserrat;
  padding: 40px 0px;
  color: white;
}

.demographic .num-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demographic .num-indicator .group-icon {
  font-size: 70px;
  width: 70px;
  height: 70px;
}

.demographic .num-indicator .num-members {
  font-size: 70px;
  padding: 0px 20px;
}

.demographic p {
  margin: 0;
  font-size: 16px;
}

.demographic .see-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header {
  width: 100%;
  text-align: center;
  font-family: header-font;
  font-size: 100px;
  line-height: 70px;
  padding: 50px 0px;
  color: white;
  background-color: #628A3A;
}

.VMC {
  width: 100%;
  height: auto;
  position: relative;
}

.VMC .vmc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 50px 0px;
}

.VMC .vmc-content .vision, .VMC .vmc-content .mission, .VMC .vmc-content .core-values {
  padding: 50px 30px;
  width: 40%;
  max-width: 700px;
  color: #628A3A;
  text-align: center;
}

.VMC .vmc-content .vision h2, .VMC .vmc-content .mission h2, .VMC .vmc-content .core-values h2 {
  font-family: header-font;
  font-size: 130px;
  padding-bottom: 3% 0%;
}

.VMC .vmc-content .vision hr, .VMC .vmc-content .mission hr, .VMC .vmc-content .core-values hr {
  width: 75%;
  border-top: 3px solid #628A3A;
}

.VMC .vmc-content .vision p, .VMC .vmc-content .mission p, .VMC .vmc-content .core-values p {
  font-family: monserrat;
  font-size: 20px;
  line-height: 150%;
  padding-top: 3%;
  color: #233620;
}

.VMC .vmc-content .core-values {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 1400px;
}

.VMC .vmc-content .core-values hr {
  width: 40%;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history .histo-content {
  margin: 5%;
  max-width: 1350px;
}

.history .histo-content img {
  float: left;
  margin: 2%;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.history .histo-content p {
  font-family: monserrat;
  color: #233620;
  font-size: 150%;
  line-height: 150%;
  text-align: justify;
}

.history .histo-content .button {
  color: #628A3A;
  background: none;
  border: none;
}

.ad-cov {
  width: 100%;
  height: auto;
  position: relative;
}

.ad-cov .ad-cov-content {
  padding: 3% 25%;
  color: #233620;
}

.ad-cov .ad-cov-content hr {
  width: 20%;
}

.ad-cov .ad-cov-content p {
  font-family: monserrat;
  font-size: 150%;
  line-height: 150%;
  padding: 3%;
  text-align: center;
}

.org-struct .org-struct-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0px;
}

.org-struct .org-struct-content .carousel {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.org-struct .org-struct-content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px;
}

.org-struct .org-struct-content .box h3 {
  color: #233620;
  font-size: 30px;
  font-family: monserrat;
}

.org-struct .org-struct-content .box .button button {
  width: 150px;
  height: 70px;
  font-size: 20px;
  background-color: #628A3A;
  color: white;
  font-weight: 100;
  text-align: center;
  border-radius: 5px;
}

@media screen and (max-width: 786px) {
  .section-header {
    font-size: 80px;
    padding: 30px 0px;
    line-height: 50px;
  }
  div .subhead {
    padding: 40px 0px;
  }
  div .subhead h1 {
    font-size: 100px;
    padding: 5px 0px;
    margin-bottom: 0px;
  }
  .demographic {
    padding: 20px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .demographic .num-indicator .group-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
  .demographic .num-indicator .num-members {
    font-size: 40px;
    width: 60px;
    padding: 0px 10px 0px 5px;
  }
  .demographic span p {
    font-size: 13px;
    margin: 0;
  }
  .VMC .vmc-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .VMC .vmc-content .core-values, .VMC .vmc-content .mission, .VMC .vmc-content .vision {
    width: 90%;
    padding: 30px 0px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .VMC .vmc-content .core-values h2, .VMC .vmc-content .mission h2, .VMC .vmc-content .vision h2 {
    font-size: 110px;
  }
  .VMC .vmc-content .core-values hr, .VMC .vmc-content .mission hr, .VMC .vmc-content .vision hr {
    width: 75%;
  }
  .history .histo-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .history .histo-content img {
    float: none;
  }
  .org-struct .org-struct-content {
    padding: 60px 0px;
  }
  .org-struct .org-struct-content .carousel {
    width: 150px;
    height: 150px;
  }
  .org-struct .org-struct-content .box {
    padding: 0px 18px;
  }
  .org-struct .org-struct-content .box h3 {
    font-size: 20px;
  }
  .org-struct .org-struct-content .box .button button {
    width: 120px;
    height: 60px;
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .demographic {
    padding: 20px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .demographic .num-indicator {
    padding-bottom: 10px;
  }
  .demographic .num-indicator .group-icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
  }
  .demographic .num-indicator .num-members {
    font-size: 50px;
    padding: 0px 10px 0px 5px;
  }
  .demographic p {
    font-size: 12px;
    width: auto;
  }
  .demographic .see-more {
    padding-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-header {
    font-size: 60px;
    padding: 30px 0px;
    line-height: 50px;
  }
  .VMC .vmc-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .VMC .vmc-content .core-values, .VMC .vmc-content .mission, .VMC .vmc-content .vision {
    width: 90%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .VMC .vmc-content .core-values h2, .VMC .vmc-content .mission h2, .VMC .vmc-content .vision h2 {
    font-size: 90px;
    margin: 0;
  }
  .VMC .vmc-content .core-values hr, .VMC .vmc-content .mission hr, .VMC .vmc-content .vision hr {
    width: 80%;
  }
  .VMC .vmc-content .core-values p, .VMC .vmc-content .mission p, .VMC .vmc-content .vision p {
    font-size: 16px;
  }
  .history .histo-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .history .histo-content img {
    float: none;
    max-width: 125px;
    max-height: 125px;
  }
  .history .histo-content p {
    font-size: 13px;
  }
  .ad-cov .ad-cov-content {
    padding: 5% 10%;
    width: 80%;
  }
  .ad-cov .ad-cov-content p {
    font-size: 16px;
  }
  .org-struct .org-struct-content {
    padding: 40px 0px;
  }
  .org-struct .org-struct-content .carousel {
    width: 100px;
    height: 100px;
  }
  .org-struct .org-struct-content .box {
    padding: 0px 10px;
  }
  .org-struct .org-struct-content .box h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .org-struct .org-struct-content .box .button button {
    width: 100px;
    height: 50px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=about-page.component.css.map */