div{
  .header{
    width:100%;
    overflow:hidden;
    height:250px;
    img{
      width:100%;
    }
  }
  .subhead{
    background-color: #fafafa;
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 90px 0px;
    h1{
      font-family: header-font;
      font-size: 200px;
      line-height: 70px;
      padding: 20px 0px;
      color:#233620;
    }

    p{
      font-size: 16px;
      color:#233620;
      font-family: monserrat;
    }
  }

}
.demographic{
  width:100%;
  background-color: #628A3A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: monserrat;
  padding: 40px 0px;
  color:white;

  .num-indicator{
    display:flex;
    flex-direction: row;
    align-items: center;
    .group-icon{
      font-size: 70px;
      width: 70px;
      height: 70px;
    }

    .num-members{
      font-size:70px;
      padding: 0px 20px;
    }
  }
  p{
    margin:0;
    font-size:16px;
  }

  .see-more{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

  }
}

.section-header{
  width:100%;
  text-align:center;
  font-family: header-font;
  font-size: 100px;
  line-height: 70px;
  padding: 50px 0px;
  color:white;
  background-color: #628A3A;
}

.VMC{
    width: 100%;
    height: auto;
    position: relative;
    .vmc-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width:100%;
        padding: 50px 0px;

        .vision, .mission, .core-values{
            padding: 50px 30px;
            width:40%;
            max-width: 700px;
            color:#628A3A;
            text-align: center;
            h2{
                font-family: header-font;
                font-size: 130px;
                padding-bottom: 3% 0%;
            }
            hr{
                width: 75%;
                border-top:3px solid #628A3A;
            }
            p{
                font-family: monserrat;
                font-size: 20px;
                line-height: 150%;
                padding-top: 3%;
                color: #233620;
            }
        }

        .core-values{
          flex-grow: 2;
          max-width: 1400px;
          hr{
              width: 40%;
          }
        }
    }

}

.history{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .histo-content{
    margin:5%;
    max-width: 1350px;
    img {
      float:left;
      margin: 2%;
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
    }
    p{
      font-family: monserrat;
      color:#233620;
      font-size: 150%;
      line-height: 150%;
      text-align: justify;
    }
    .button{
      color:#628A3A;
      background: none;
      border: none;
    }
  }
}

.ad-cov{
    width: 100%;
    height: auto;
    position: relative;

    .ad-cov-content{
        padding: 3% 25%;
        color: #233620;
        hr{
            width: 20%;
        }
        p{
            font-family: monserrat;
            font-size: 150%;
            line-height: 150%;
            padding: 3%;
            text-align: center;
        }
    }
}

.org-struct{

    .org-struct-content{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        padding: 80px 0px;
        .carousel{
            border-radius: 50%;
            width: 200px;
            height: 200px;
            overflow: hidden;
        }
        .box{
            display:flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 30px;
            h3{
                color: #233620;
                font-size: 30px;
                font-family: monserrat;
            }

            .button{
                button{
                    width: 150px;
                    height: 70px;
                    font-size: 20px;
                    background-color: #628A3A;
                    color: white;
                    font-weight: 100;
                    text-align: center;
                    border-radius: 5px;
                }
            }
        }
    }
}



//--------------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 786px){

  .section-header{
    font-size: 80px;
    padding:30px 0px;
    line-height: 50px;
  }
  div{
    .subhead{
      padding: 40px 0px;
      h1{
        font-size: 100px;
        padding:5px 0px;
        margin-bottom: 0px;
      }
    }
  }

  .demographic{
    padding: 20px 0px;
    flex-wrap: wrap;
    .num-indicator{
      .group-icon{
        font-size: 40px;
        width: 40px;
        height: 40px;
      }
      .num-members{
        font-size: 40px;
        width: 60px;
        padding: 0px 10px 0px 5px;
      }
    }
    span{
      p{
        font-size:13px;
        margin:0;
      }
    }
  }

  .VMC{

    .vmc-content{
      flex-direction: column;
      align-items: center;
      .core-values, .mission, .vision{
        width: 90%;
        padding:30px 0px;
        flex-grow:1;
        h2{
          font-size: 110px;
        }

        hr{
          width:75%;
        }
      }
    }
  }

  .history{
    .histo-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      img {
        float:none;
      }
    }
  }
  .org-struct{
    .org-struct-content{
      padding: 60px 0px;
      .carousel{
        width:150px;
        height:150px;
      }

      .box{
        padding: 0px 18px;
        h3{
          font-size: 20px;
        }
        .button{
            button{
                width: 120px;
                height: 60px;
                font-size: 18px;
            }
        }
      }
    }
  }
}


@media screen and (max-width: 450px){
  .demographic{
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .num-indicator{

      padding-bottom:10px;
      .group-icon{
        font-size: 50px;
        width: 50px;
        height: 50px;
      }
      .num-members{
        font-size: 50px;
        padding: 0px 10px 0px 5px;
      }
    }
    p{
      font-size:12px;
      width:auto;
    }

    .see-more{
      padding-top: 10px;
      justify-content: center;
    }
  }

  .section-header{
    font-size: 60px;
    padding:30px 0px;
    line-height: 50px;
  }
  .VMC{

    .vmc-content{
      flex-direction: column;
      align-items: center;
      .core-values, .mission, .vision{
        width: 90%;
        flex-grow:1;
        h2{
          font-size: 90px;
          margin:0;
        }
        hr{
          width:80%;
        }
        p{
          font-size: 16px;
        }
      }
    }
  }

  .history{
    .histo-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      img {
        float:none;
        max-width: 125px;
        max-height: 125px;
      }
      p{
        font-size: 13px;
      }
    }
  }
  .ad-cov{
    .ad-cov-content{
      padding:5% 10%;
      width:80%;
      p{
        font-size:16px;
      }
    }
  }


  .org-struct{
    .org-struct-content{
      padding: 40px 0px;
      .carousel{
        width:100px;
        height:100px;
      }

      .box{
        padding: 0px 10px;
        h3{
          font-size: 15px;
          margin-bottom: 5px;
        }
        .button{
            button{
                width: 100px;
                height: 50px;
                font-size: 14px;
            }
        }
      }
    }
  }

}

