<div>
  <div class = "header" id="top">
  <img src="assets/images/carousel/carousel1.jpg"/>
  </div>

  <div class ="subhead">
    <h1>About Us</h1>
    <p>Get to know KL and its members</p>
  </div>
</div>

<div class="demographic">
  <span class="num-indicator">
    <mat-icon class="group-icon">group</mat-icon>
    <p class="num-members">{{members.total_members}}</p>
  </span>
  <span><p>campers, ready to fight for the environment</p>
    <div class="see-more">
      <p>view full member demographics</p>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </span>
</div>

<div class="VMC" id="vmc-section">
    <div class="vmc-content">
        <div class="vision">
            <h2>Vision</h2>
            <hr/>
            <p>
                We envision an island province
                where the diversity of life from
                seas to oceans and forests to
                rivers thrive.
            </p>
        </div>
        <div class="mission">
            <h2>Mission</h2>
            <hr/>
            <p>
                To leave behind a cleaner
                and greener Bohol for the
                next generation of Boholanos.
            </p>
        </div>
        <div class="core-values">
            <h2>Core Values</h2>
            <hr/>
            <p>
                Kahinlo. <br>
                Kalunhaw. <br>
                Katungdanan.
            </p>
        </div>
    </div>
</div>

<div class="history" id="history">
    <div class="section-header">History</div>
    <div class="histo-content">
            <img src="assets/images/KL.png" alt="KL logo"/>
            <p>
                Kabiling Lunhaw's (KL) name comes from the combination of two Cebuano words: kabilin and lunhaw, where kabilin means heritage or legacy, and lunhaw means green. Combined together, the name Kabiling Lunhaw translates in English to 'green legacy' or 'green heritage', a testament to what we, the youth of Bohol, envision for our dear home province.
                The movement started off as a mangrove reforestation project initiated by Senior Scouts of Bohol Council’s Outfit 235 under Tagbilaran City Science High School (TCSHS) in the last quarter of 2019.
                It primarily aimed to plant 1 million upland trees at Haguilanan, Balilihan but the Outfit ruled it out because of logistical constraints. Hence, after weeks of discussions with different government and non-government entities, they narrowed it down to planting 10,000 mangrove propagules at Pangangan Island, Calape, Bohol, aptly named Project Diyes Mil.
                The location was strategic given that the island boasts the longest man-made causeway in the Philippines stretching 3.5 kilometers from mainland Bohol. It was also a historically significant place for the scouts because the first mangroves at the causeway were planted also by Scouts back in the 1950s.
            </p>

            <ng-container class ="extend" *ngIf="visible">
                <p>
                    On September 21, 2019, Project Diyes Mil was participated by approximately 200 students from TCSHS from its various school clubs and organizations--TCSHS Supreme Student Government, Math and Science Clubs, Peer Counseling Program, BSP and GSP, etc.--and was able to plant 13,000 mangrove propagules.
                    Then the COVID-19 pandemic came early during 2020 and forced students into their homes. Come May 2020 when the same Boy Scouts and other student advocates from TCSHS decided to formalize the movement into an independent youth organization with the ratification of its First Constitution on May 21, 2020.
                </p>
            </ng-container>
            <button (click)="onClick()" type="button" class="button">
                {{ShowMore?"Show More":"Show Less"}}
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
    </div>
</div>

<div class="ad-cov" id="advocate">
    <div class="section-header">Advocates' Coventant</div>
    <div class="ad-cov-content">
        <p>We, the young and bold, commit to the development and implementation of an ambitious and transformational biodiversity framework.</p>
        <hr>
        <p>We, the young and ambitious, commit to raising aspirations of our fellowmen that they too may bear witness of a thriving ecological struggle.</p>
        <hr>
        <p>We, the young and undaunted, commit uphold the integrity of our environment,
            from land to seas, rivers and institutions.</p>
        <hr>
        <p>We, the young and sensible, commit to be a catalyst of ending environmental crimes which can seriously impact efforts to tackle environmental degradation, biodiversity loss, and climate change.</p>
        <hr>
        <p>We, the young and staunch, commit to recognize the presence of a climate emergency,
            that it poses a threat to our lives and society, and that it calls for our action.</p>
        <hr>
        <p>We, the young and passionate, in our endless pursuit for environmental justice, with the world as our witness, swear to fulfill this covenant.</p>
    </div>
</div>

<app-about-camp id="camps"></app-about-camp>

<div class="org-struct">
    <div class="section-header">
        Organization Structure
    </div>
    <div class="org-struct-content">
        <div class="carousel">
            <mat-carousel
            timings="250ms ease-in-out"
            [autoplay]="true"
            [interval]="2500"
            color="accent"
            maxWidth="auto"
            [maintainAspectRatio]="true"
            [proportion]="150"
            [slides]="15"
            [loop]="true"
            [hideArrows]="true"
            [hideIndicators]="true"
            [useKeyboard]="false"
            [useMouseWheel]="false"
            orientation="ltr"
            >
                <mat-carousel-slide
                    #matCarouselSlide
                    *ngFor="let slide of slides; let i = index"
                    [image]="slide.image"
                    [hideOverlay]="true"
                >
                </mat-carousel-slide>
            </mat-carousel>
        </div>
        <div class="box">
            <h3>Get to know our leaders!</h3>
            <div class="button">
                <button mat-button onclick="window.location.href='/org-struct';">Know More</button>
            </div>
        </div>

    </div>

</div>
