<mat-card class="event-card">

  <img mat-card-image src="assets/images/baybayon.png">

  <mat-card-content>
    <div class="event-header">
      <div class ="tags">
        <span [style.background-color]="'rgb(136, 187, 78)'">Baybayon</span>
        <span [style.background-color]="'#f44336'">Upcoming</span>
      </div>
      <mat-card-title>Descriptionasdfasdf</mat-card-title>
      <p>March 5, 2022</p>
    </div>


        <p>adsfasdfasfdasdf sdfasdfasd sdfasdf sd fsd fsdaf asdfasdfas sdf sadf dsa sffasdf sd adfasdfasdf</p>


    <mat-card-actions class="course-actions">

        <button mat-raised-button color="primary">
            Read More
        </button>
    </mat-card-actions>
  </mat-card-content>

</mat-card>

