<mat-card class="event-card" *ngFor="let event of eventsList">

  <img mat-card-image src="{{event.image}}">

  <mat-card-content>
    <div class="event-header">
      <mat-chip-list class ="tags" aria-label="Fish selection">
        <div *ngFor="let tag of event.tags">
          <mat-chip *ngIf ="tag == 'GNRL'" [style.background-color]="'#121212'" selected>General</mat-chip>
          <mat-chip *ngIf ="tag == 'baybayon'" [style.background-color]="'#D9B863'" selected>Baybayon</mat-chip>
          <mat-chip *ngIf ="tag == 'lasang'" [style.background-color]="'#3F6218'" selected>Lasang</mat-chip>
          <mat-chip *ngIf ="tag == 'suba'" [style.background-color]="'#1C8BD4'" selected>Suba</mat-chip>
          <mat-chip *ngIf ="tag == 'zero-waste'" [style.background-color]="'#9CCC65'" selected>Zero Waste</mat-chip>
          <mat-chip *ngIf ="tag == 'upcoming'"[style.background-color]="'#f44336'" selected>Upcoming</mat-chip>
          <mat-chip *ngIf ="tag == 'past'"[style.background-color]="'#C4C4C4'" selected>Past</mat-chip>
        </div>
      </mat-chip-list>
      <mat-card-title>{{event.title}}</mat-card-title>
      <p>{{event.start_date}}</p>
    </div>


        <p>{{event.description}}</p>


    <mat-card-actions class="course-actions">

        <button mat-raised-button color="primary">
            Read More
        </button>
    </mat-card-actions>
  </mat-card-content>

</mat-card>

