<div>
  <div class = "header" id="top">
  <img src="assets/images/carousel/carousel1.jpg"/>
  </div>

  <div class ="subhead">
    <h1>News and Announcements</h1>
    <p>See what KL has been  working on</p>
  </div>
</div>


<div class="container">
  <div class="block">
    <div class="announcements">
      <img src="assets/images/annoucement.png" class="speaker"/>
      <div class="announcement-header">
        <h2>Latest Announcemnts are placed here mweheheheeasd asdfasdf sdfsadf  sdf sdsssssdfsdf sdf asdasd asaaassdasd</h2>
        <p>May 2, 2022</p>
        <p id="content">Latest Announcemnts are placed here mweheheheeasd asdfasdf sdfsadf  sdf sdsssssdfsdf sdf asdasd asaaassdasd</p>
      </div>
    </div>
</div>
<app-news-list [news]="(newsDisplay$ | async)!" ></app-news-list>
</div>
