<div class="footer">

    <div class="footer-content">
        <div class="footer-section whatWeDo">
            <h1>What We Do</h1>
            <ul style="list-style-type:none;">
                <a href="#"><li>News and Announcements</li></a>
                <a href="#"><li>Projects</li></a>
                <a href="#"><li>Events</li></a>
            </ul>
        </div>
        <div class="footer-section aboutUs">
            <h1>About Us</h1>
            <ul>
                <a routerLink="/about"><li>Organization Overview
                    <ul>
                        <a href="#"><li>History</li></a>
                        <a href="#"><li>Advocates Covenant</li></a>
                        <a href="#"><li>Camps
                            <ul>
                                <a href="#"><li>Baybayon</li></a>
                                <a href="#"><li>Lasang</li></a>
                                <a href="#"><li>Suba</li></a>
                                <a href="#"><li>Zero Waste</li></a>
                            </ul>
                        </li></a>
                    </ul>
                </li></a>
                <a href="#"><li>Finances</li></a>
                <a href="#"><li>FAQs</li></a>
                <a href="#"><li>Organization Structure</li></a>
                <a href="#"><li>Member Demographics</li></a>
            </ul>
        </div>
        <div class="footer-section contactUs">
            <ul>
                <a href="#"><li>Join Us</li></a>
                <a href="#"><li>Contact Us</li></a>
            </ul>
        </div>
    </div>

    <div class="footer-copyright">
        <a href="https://www.facebook.com/KabilingLunhaw/"><img src="assets/images/fb_logo.svg" alt="fb logo"></a>
        <a href="https://twitter.com/KabilingLunhaw"><img src="assets/images/twitter_logo.svg" alt="twitter logo"></a>
        <a href="https://www.instagram.com/kabilinglunhaw/"><img src="assets/images/ig_logo.svg" alt="ig logo"></a><br>
        <p>&copy; Kabiling Lunhaw | Designed by ManaTech</p>

    </div>
</div>
