<div class="footer">

    <div class="footer-content">
        <div class="footer-section whatWeDo">
            <h1>What We Do</h1>
            <ul style="list-style-type:none;">
              <li><a routerLink="/news">News and Announcements</a><li>
                <li><a  routerLink="/projects">Projects</a><li>
                <li><a  routerLink="/events">Events</a><li>
            </ul>
        </div>
        <div class="footer-section aboutUs">
            <h1>About Us</h1>
            <ul>
              <li><a href="about#top">Organization Overview</a>
                    <ul>
                      <li><a href="about#vmc-section">Mission, Vision, Values</a></li>
                      <li><a href="about#history">History</a></li>
                      <li><a href="about#advocate">Advocates Covenant</a></li>
                      <li><a href="about#camps">Camps</a>
                            <ul>
                                <li><a routerLink="/baybayon">Baybayon</a><li>
                                <li><a routerLink="/lasang">Lasang</a><li>
                                <li><a routerLink="/suba">Suba</a><li>
                                <li><a routerLink="/zero-waste">Zero Waste</a><li>
                            </ul>
                      </li>
                    </ul>
                </li>
                <li><a href="#">Finances</a><li>
                <li><a href="#">FAQs</a><li>
                <li><a routerLink="/org-struct">Organization Structure</a><li>
                <li><a href="#">Member Demographics</a><li>
            </ul>
        </div>
        <div class="footer-section contactUs">
            <ul>
                <li><a routerLink="/join-us">Join Us</a><li>
                <li><a routerLink="/contact-us">Contact Us</a><li>
            </ul>
        </div>
    </div>

    <div class="footer-copyright">
        <a href="https://www.facebook.com/KabilingLunhaw/"><img src="assets/images/fb_logo.svg" alt="fb logo"></a>
        <a href="https://twitter.com/KabilingLunhaw"><img src="assets/images/twitter_logo.svg" alt="twitter logo"></a>
        <a href="https://www.instagram.com/kabilinglunhaw/"><img src="assets/images/ig_logo.svg" alt="ig logo"></a><br>
        <p>&copy; Kabiling Lunhaw | Designed by ManaTech</p>

    </div>
</div>
