<div class="footer">

    <div class="footer-content">
        <div class="footer-section whatWeDo">
            <h1>What We Do</h1>
            <ul style="list-style-type:none;">
                <a href="#"><li>News and Announcements</li></a>
                <a href="#"><li>Projects</li></a>
                <a href="#"><li>Events</li></a>
            </ul>                
        </div>
        <div class="footer-section aboutUs">
            <h1>About Us</h1>
            <ul style="list-style-type: none;">
                <a href="#"><li>Organization Overview
                    <ul style="list-style-type: none;">
                        <a href="#"><li>History</li></a>
                        <a href="#"><li>Advocates Covenant</li></a>
                        <a href="#"><li>Camps
                            <ul style="list-style-type: none;">
                                <a href="#"><li>Baybayon</li></a>
                                <a href="#"><li>Lasang</li></a>
                                <a href="#"><li>Suba</li></a>
                                <a href="#"><li>Zero Waste</li></a>
                            </ul>
                        </li></a>
                    </ul>
                </li></a>
                <a href="#"><li>Finances</li></a>
                <a href="#"><li>FAQs</li></a>
                <a href="#"><li>Organization Structure</li></a>
                <a href="#"><li>Member Demographics</li></a> 
            </ul>
        </div>
        <div class="footer-section contactUs">
            <ul style="list-style-type: none;">
                <a href="#"><li>Join Us</li></a>
                <a href="#"><li>Contact Us</li></a>
            </ul>
        </div>
    </div>

    <div class="footer-copyright">
        <a href="#"><img src="./fb_logo" alt="fb logo"></a>
        <a href="#"><img src="./twitter_logo" alt="twitter logo"></a>
        <a href="#"><img src="./ig_logo" alt="ig logo"></a><br>
        &copy; Kabiling Lunhaw | Designed by ManaTech
    </div>
</div>
