<h1 mat-dialog-title> <mat-icon>filter_list</mat-icon> Filter Events</h1>

<mat-dialog-content class="mat-typography">
  <mat-form-field class="filter-field" appearance="fill">
    <mat-label>Filter by Camp</mat-label>
    <mat-select [formControl]="campControl" ngDefaultControl multiple>
      <mat-select-trigger>
        <mat-chip-list>
          <mat-chip *ngFor="let category of campControl.value"  [style.background-color]="allCamps[category]"
            [removable]="true" (removed)="onCatRemoved(category)" selected>
            {{ category }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-select-trigger>
      <mat-option *ngFor="let camp of allCamps | keyvalue" [value]="camp.key">{{camp.key}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!--Filter by status-->
  <br>
  <mat-form-field class="filter-field" appearance="fill">
    <mat-label>Filter by Status</mat-label>
    <mat-select [formControl]="statusControl" ngDefaultControl>
      <mat-select-trigger>
        <mat-chip-list>
          <mat-chip  [style.background-color]="allStatus[statusControl.value]"
            [removable]="true" (removed)="onStatusRemoved()" selected>
            {{ statusControl.value }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-select-trigger>
      <mat-option *ngFor="let status of allStatus | keyvalue" [value]="status.key">{{status.key}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="clickFilter(campControl.value,statusControl.value)" [mat-dialog-close]="true" >Apply</button>
</mat-dialog-actions>

