<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="over" class="sidemenu">
    <img src="assets/images/word_logo.png"/>
    <ul id="mobileNav">
      <li><a mat-button  class="drop-triggers" (click)="whatWeDo = !whatWeDo">What we do</a>
        <div class="dropdowns" *ngIf="whatWeDo">
          <a mat-button routerLink="/news" (click)="sidenav.close(); onSelect()" >News & Announcements</a>
          <a mat-button  routerLink="/projects"(click)="sidenav.close(); onSelect()" >Projects</a>
          <a mat-button  routerLink="/events" (click)="sidenav.close(); onSelect()" >Events</a>
        </div>
      </li>
      <li><a mat-button (click)="about = !about" >About Us</a>
        <div class="dropdowns" *ngIf="about">
          <a mat-button (click)="orgOverview = !orgOverview">Organization Overview</a>
          <div *ngIf="orgOverview">
            <a mat-button href="about#vmc-section" (click)="sidenav.close(); onSelect()" class="submenu">Mission, Vision, Values</a>
            <a mat-button href="about#history" (click)="sidenav.close(); onSelect()" class="submenu">History</a>
            <a mat-button href="about#advocate" (click)="sidenav.close(); onSelect()" class="submenu">Advocates Covenant</a>
            <a mat-button href="about#camps" (click)="sidenav.close(); onSelect()" class="submenu">Camps</a>
          </div>
          <a mat-button (click)="sidenav.close(); onSelect()" >Finances</a>
          <a mat-button (click)="sidenav.close(); onSelect()" >FAQs</a>
          <a mat-button  routerLink="/org-struct" (click)="sidenav.close(); onSelect()" >Organization Structure</a>
          <a mat-button (click)="sidenav.close(); onSelect()" >Member Demographics</a>
        </div>
      </li>
      <li><a mat-button href ="#"  (click)="sidenav.close(); onSelect()">Contact Us</a></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-nav-bar></app-nav-bar>
    <div class="space"></div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
