<mat-sidenav-container class="example-container" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="over" class="sidemenu">
    <img src="assets/images/word_logo.png"/>
    <ul id="mobileNav">
      <li><a mat-button (click)="whatWeDo = !whatWeDo">What we do</a>
        <div class="dropdowns" *ngIf="whatWeDo">
          <button mat-button>News & Announcements</button>
          <button mat-button>Projects</button>
          <button mat-button>Events</button>
        </div>
      </li>
      <li><a mat-button (click)="about = !about" >About Us</a>
        <div class="dropdowns" *ngIf="about">
          <button mat-button (click)="orgOverview = !orgOverview">Organization Overview</button>
          <div *ngIf="orgOverview">
            <button mat-button routerLink="/about" (click)="sidenav.close()" class="submenu">Mission, Vision, Values</button>
            <button mat-button routerLink="/about" (click)="sidenav.close()" class="submenu">History</button>
            <button mat-button routerLink="/about" (click)="sidenav.close()" class="submenu">Advocates Covenant</button>
            <button mat-button routerLink="/about" (click)="sidenav.close()" class="submenu">Camps</button>
          </div>
          <button mat-button>Finances</button>
          <button mat-button>FAQs</button>
          <button mat-button>Organization Structure</button>
          <button mat-button>Member Demographics</button>
        </div>
      </li>
      <li><a mat-button href ="#">Contact Us</a></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-nav-bar></app-nav-bar>
    <div class="space"></div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
