<h1 class="title-block">The Camps</h1>
<div class="container">

  <mat-button-toggle-group #group="matButtonToggleGroup"  class="sidenav" value ="0">
    <mat-button-toggle value="0"><img src ="assets/images/baybayon.png"/></mat-button-toggle>
    <mat-button-toggle value="1"><img src ="assets/images/lasang.png"/></mat-button-toggle>
    <mat-button-toggle value="2"><img src ="assets/images/suba.png"/></mat-button-toggle>
    <mat-button-toggle value="3"><img src ="assets/images/zero.png"/></mat-button-toggle>
  </mat-button-toggle-group>
  <div class="image-section">
    <img src="{{camps[group.value]?.image?.image}}"/>
  </div>
  <div class="content" [style.background]="colors[group.value]">
    <h1>{{camps[group.value]?.name}}</h1>
    <p>{{camps[group.value]?.description}}</p>
    <div class="leader">
      <img src="{{camps[group.value]?.camp_leader?.image?.image}}"/>
      <span>
        <p>"{{camps[group.value]?.camp_leader?.motto}}"</p>
        <h2>{{camps[group.value]?.camp_leader?.name}}</h2>
      </span>
    </div>
  </div>
</div>
