.title-block{
  width:100%;
  text-align:center;
  font-family: header-font;
  font-size: 100px;
  line-height: 70px;
  padding: 50px 0px;
  color:white;
  background-color: #628A3A;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;

  .sidenav{
    display:flex;
    flex-direction: column;
    padding:0;
    border:none;
    border-radius: 7px 0px 0px 7px;
    margin:0;

    .mat-button-toggle{
      padding:20px 8px;
      background-color: #628A3A;

      img{
        width:80px;
        height:80px;
      }
    }
    .mat-button-toggle:hover{
      cursor:pointer;
    }
    .mat-button-toggle-checked{
      background-color: #233620;

      img{
        filter:brightness(0) invert(1);
      }
    }

  }

  .image-section{
    width:35%;
    max-width: 525px;
      img{
        width:100%;
        height:100%;
        object-fit: cover;
        overflow: hidden;
    }
  }

  .content{
    width:30%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.335);
    text-align: justify;
    text-justify: inter-word;
    padding: 20px 0px;
    align-items: center;
    border-radius: 0px 7px 7px 0px;
    font-family: monserrat;

    h1{
      font-family: header-font;
      font-size: 100px;
      padding:50px 0px 0px 0px;
      margin:0px;
    }
    p{
      padding: 0px 25px;
      font-size: 14px;
    }

    .leader{
      display: flex;
      flex-direction: row;
      justify-content: center;
      img{

      width:70px;
      height:70px;
      border-radius: 50%;
      }
      span{
        width:230px;
        text-align: center;

        h2{
          font-family: monserrat;
          font-size:15px;
          margin:0;
        }
        p{
          font-size: 12px;
          border-bottom: 2px solid white;
        }
      }
    }
  }
}


//------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 1150px){
  .container{
    .sidenav{
      .mat-button-toggle{
        padding:15px 3px;

        img{
          width:65px;
          height: 65px;
        }
      }
    }

    .image-section{
      width:40%;
    }

    .content{
      width:35%;

      h1{
        font-size:85px;
        padding:20px 0px 0px 0px;
      }

      p{
        font-size:12px;
      }

      .leader{
        img{
          width: 60px;
          height:60px;
        }

        span{
          width:190px;
          h2{
            font-size: 13px;
          }
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 786px){
  .title-block{
    font-size: 80px;
    padding:30px 0px;
    line-height: 50px;
  }
  .container{
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sidenav{
      flex-direction: row;
      border-radius: 7px 7px 0px 0px;

      .mat-button-toggle{
        padding:15px 3px;

        img{
          width:70px;
          height: 70px;
        }
      }
    }

    .image-section{
      width:402.879px;
      height: 220px;
    }

    .content{
      width:402.879px;
      height: 330px;
      border-radius: 0px 0px 7px 7px;

      h1{
        font-size:85px;
        padding:20px 0px 0px 0px;
      }

      p{
        font-size:14px;
      }

      .leader{
        img{
          width: 60px;
          height:60px;
        }

        span{
          width:250px;
          h2{
            font-size: 14px;
          }
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px){
  .title-block{
    font-size: 60px;
    padding:30px 0px;
    line-height: 50px;
  }

  .container{
    width:100%;

    .sidenav{
      width:88%;
      justify-content: center;

      .mat-button-toggle{
        padding:12px 0px;
        width:25%;

        img{
          width:100%;
          height:100%;
        }
      }
    }

    .image-section{
      width:88%;
    }

    .content{
      width:88%;    
      height: 290px;
      h1{
        padding:10px 0px 0px 0px;
        font-size:70px;
      }
      p{
        font-size: 12px;
      }

      .leader{
        span{
          width:200px;
          h2{
            font-size: 12px;
          }
        }
    }
    }
  }
}
