<div class="back">
    <button mat-icon-button routerLink="/admin/single-page-list"><mat-icon>arrow_back</mat-icon></button>
    <h3>Back to Page List</h3>
</div>
<div class="container">
    <div class="buttons-section">
        <button mat-button (click)="toggleSection('jumbotron')">Jumbotron</button>
        <button mat-button (click)="toggleSection('event')">Featured Events</button>
        <button mat-button (click)="toggleSection('project')">Featured Projects</button>
    </div>
    <div class="info-panel">
        <div *ngIf="sectionChoice =='jumbotron'">
            <div class="header">
                <h2>Jumbotron</h2>
                <button mat-raised-button *ngIf="slides < 5" (click)="addSlide()" color="primary"><mat-icon>add</mat-icon> Add Slide</button>
                <button mat-raised-button *ngIf="slides == 5" disabled><mat-icon>add</mat-icon> Add Slide</button>
            </div>
            <div class="dropdown">
                <div class="slide-section" *ngFor="let i of [].constructor(slides); let index = index">
                    <mat-form-field appearance="fill" class="label">
                        <mat-label>Slide {{index+1}}</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let item of jumbotron" [value]="item.id">{{item.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="updateSlide()"><mat-icon>update</mat-icon></button>
                    <button mat-icon-button (click)="deleteSlide()"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
        <div *ngIf="sectionChoice=='event'">
            <div class="header">
                <h2>Featured Events</h2>
            </div>
            <div class="dropdown">
                <div class="slide-section">
                    <mat-form-field appearance="fill" class="label">
                        <mat-label>Event 1</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let item of events" [value]="item.id">{{item.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="updateSlide()"><mat-icon>update</mat-icon></button>
                </div>
                <div class="slide-section">
                    <mat-form-field appearance="fill" class="label">
                        <mat-label>Event 2</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let item of events" [value]="item.id">{{item.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="updateSlide()"><mat-icon>update</mat-icon></button>
                </div>
                <div class="slide-section">
                    <mat-form-field appearance="fill" class="label">
                        <mat-label>Event 3</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let item of events" [value]="item.id">{{item.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="updateSlide()"><mat-icon>update</mat-icon></button>
                </div>
            </div>
        </div>
        <div *ngIf="sectionChoice=='project'">
            <div class="header">
                <h2>Featured Projects</h2>
            </div>
            <div class="dropdown">
                <div class="slide-section">
                    <mat-form-field appearance="fill" class="label">
                        <mat-label>Project 1</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let item of projects" [value]="item.id">{{item.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="updateSlide()"><mat-icon>update</mat-icon></button>
                </div>
                <div class="slide-section">
                    <mat-form-field appearance="fill" class="label">
                        <mat-label>Project 2</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let item of projects" [value]="item.id">{{item.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="updateSlide()"><mat-icon>update</mat-icon></button>
                </div>
                <div class="slide-section">
                    <mat-form-field appearance="fill" class="label">
                        <mat-label>Project 3</mat-label>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let item of projects" [value]="item.id">{{item.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button (click)="updateSlide()"><mat-icon>update</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div class="details">
        <h3>Page Details</h3>
        <hr>
        <p>Last Update: {{details.last_updated}}</p>
        <p>Updated by: {{details.updated_by}}</p>
    </div>
</div>

