div{
  .header{
    width:100%;
    overflow:hidden;
    height:250px;
    img{
      width:100%;
    }
  }
  .subhead{
    background-color: #fafafa;
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 45px 0px;
    h1{
      font-family: header-font;
      font-size: 200px;
      line-height: 70px;
      padding: 50px 0px;
      color:#233620;
    }

    p{
      font-size: 16px;
      color:#233620;
      font-family: monserrat;
    }
  }
}


.container{
  display:flex;
  flex-direction: column;
  align-items: center;

  .block{
    background:#628A3A;
    width: 100%;
    margin-bottom: 20px;

    .announcements{
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width:1000px;
      margin: auto;

      .filter{
        background: white;
        font-family: monserrat;
        width: 150px;
        font-size: 12px;
        font-weight: 400;
        border-radius:50vh;
        height:30px;
        line-height: 30px;
        padding-left: 10px;
        text-align: left;
        margin-right:20px;
        overflow-x: hidden;
        color: #628A3A;


        .mat-icon{
        font-size: 21px;
        height:21px;
        color:#628A3A;
        margin-right: 5px;
        padding-right:4px;
        border-right: 2px solid #628A3A;
        }

      }
      p{
        margin:0;
        padding-left: 20px;
        border-left: 2px solid white;
        color: white;
        width:auto;
        text-align: center;
        width:100%;
        font-family: monserrat;
      }
    }
  }
}

//------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 1040px){
  div{
    .subhead{
      h1{
        font-size: 170px;
      }
    }
  }
  .container{
    .block{
      .announcements{
        width: 94vw;
        padding: 10px 3vw;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 786px){
  div{
    .subhead{
      padding: 40px 0px;
      h1{
        font-size: 100px;
        padding: 5px 10px;
        margin-bottom: 0px;
      }
    }
  }
  .container{
    .block{
      .announcements{
        width: 94vw;
        padding: 10px 20px 10px 20px;
        height: auto;

        .filter{
          min-width: 50px !important;
          width: 50px;
          height:50px;
          font-size: 0px;
          padding:0;
          .mat-icon{
            border-right:none;
            padding:5px 0px 0px 5px;
            margin:0;
            width:40px;
            height:40px;
            font-size: 40px;

          }
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
}
