<div>
    <div class = "header" id="top">
        <img src="assets/images/carousel/carousel1.jpg"/>
    </div>
  
    <div class ="subhead">
        <h1>Contact Us</h1>
        <p>Send us a message!</p>
    </div>
</div>
<div class="form">

    <form #form action="https://formsubmit.co/firecav198@bunlets.com" method="POST">
        <div class="row1">            
            <label for="pronoun">Pronoun
                <br>
                <select name="pronoun" id="pronoun">
                    <option value="Mr."> Mr.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Mx.">Mx.</option>
                </select>
            </label>
            
            <label for="name">Name
                <br>
                <input type="text" name="name" id="name" placeholder="Jose Rizal" required>
            </label>
        </div>
        
        <div class="row2">
            <label for="email">Email
                <br>
                <input type="email" name="email" id="email" placeholder="j.riz@gmail.com" required>
            </label>
        </div>
        
        <div class="row3">
            <label for="message">Message
                <br>
                <textarea name="message" id="message" placeholder="Your Message Here" required></textarea>
            </label>
        </div>
        <button mat-raised-button type="submit" class="btn btn-success" (click)="form.submit()">Submit</button>
    </form>

    

</div>
<div class="socmed">
    <p>You may also get in touch with us through our social media accounts</p>
    <div class="socmed-accs">
        <span>
            <h1>Facebook</h1>
            <a href="https://www.facebook.com/KabilingLunhaw/">Kabiling Lunhaw</a>
            <ul>
                <li><a href="">KL Camp Baybayon</a></li>
                <li><a href="">KL Camp Lasang</a></li>
                <li><a href="">KL Camp Suba</a></li>
                <li><a href="">KL Camp Zero Waste</a></li>
            </ul>
        </span>
        <span>
            <h1>Instagram & Twitter</h1>
            <a href="">@kabilinglunhaw</a>
            <ul>
                <li><a href="">@klcampbaybayon</a></li>
                <li><a href="">@klcamplasang</a></li>
                <li><a href="">@klcampsuba</a></li>
                <li><a href="">@klcampzerowaste</a></li>
            </ul>
        </span>
    </div>
</div>