div{
    .header{
      width:100%;
      overflow:hidden;
      height:250px;
      img{
        width:100%;
      }
    }
    .subhead{
      background-color: #fafafa;
      width:100%;
      display:flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 90px 0px;
      h1{
        font-family: header-font;
        font-size: 200px;
        line-height: 70px;
        padding: 20px 0px;
        color:#233620;
      }
  
      p{
        font-size: 20px;
        color:#233620;
        font-family: monserrat;
        margin: 0;
      }
    }
}

form{
    padding: 40px 25vw;
    background-color: #628A3A;

    label{
        font-family: monserrat;
        font-size: 15px;
        color: #fafafa;
    }

    .row1{
        display: flex;
        flex-direction: row;
        margin: 15px 0;

        select{
            margin-top: 7px;
            padding: 10px 15px;
            margin-right: 50px;
            border: none;
            border-radius: 10px;
            font-family: monserrat;
            font-size: 15px;
            color:#628A3A;
            &:focus{
                outline: none;
            }
        }
    
        input[type=text]{
            margin-top: 7px;
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
            font-family: monserrat;
            font-size: 15px;
            color: #233620;
            &:focus{
                outline: none;
            }
        }
    }
    .row2{
        margin: 15px 0;
        input[type=email]{
            margin-top: 7px;
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
            font-family: monserrat;
            font-size: 15px;
            color: #233620;
            &:focus{
                outline: none;
            }
        }
    }

    .row3{
        margin: 15px 0;
        textarea{
            margin-top: 7px;
            width: 50vw;
            height: 15vw;
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
            font-family: monserrat;
            font-size: 15px;
            color: #233620;
            resize: none;
            &:focus{
                outline: none;
            }
        }
    }

    button{
        font-family: monserrat;
        background-color:#233620;
        color: #fafafa;
        padding: 7px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}

.socmed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 50px; 
    p{
        font-family: monserrat;
        font-size: 20px;
        color: #233620;
    }
    .socmed-accs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 10vw;
        span{
            font-family: monserrat;
            text-align: center;
            padding: 30px;
            h1{
                font-family: monserrat;
                color: #233620;
                text-align: center;
                font-size: 23px;
                font-weight: 800;
            }
            a{
                font-size: 15px;
                text-decoration: none;
                color: #233620;
            }
            ul{
                column-count: 2;
                column-gap: 20px;
                li{
                    text-align: left;
                    text-decoration: none;
                    list-style-type: none;
                    padding-bottom: 10px;
                }
            }

        }
    }
}

//--------------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 786px){

    div{
        .header{
            height:100px;
        }
        .subhead{
            padding: 50px 0px;
            h1{
            font-size: 120px;
            line-height: 85px;
            margin-bottom: 0;
            padding: 0;
            }

            p{
            font-size: 16px;
            }
        }
    }

    form{
        padding: 35px 25vw;
    
        label{
            font-size: 13px;
        }
    
        .row1{
            select{
                margin-right: 4vw;
                border-radius: 8px;
                font-size: 13px;
            }
        
            input[type=text]{
                width: 30vw;
                border: none;
                border-radius: 8px;
                font-size: 13px;
            }
        }
        .row2{
            input[type=email]{
                border-radius: 8px;
                font-size: 13px;
            }
        }
    
        .row3{
            textarea{
                height: 30vw;
                border-radius: 8px;
                font-family: monserrat;
                font-size: 13px;
            }
        }
    
        button{
            background-color:#628A3A;
            box-shadow: 0px 0px 15px #233620ad;
            color: #fafafa;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    
    .socmed{
        padding: 25px 10vw; 
        p{
            font-size: 18px;
            text-align: center;
        }
        .socmed-accs{
            column-gap: 3vw;
            span{
                padding: 2vw;
                h1{
                    font-size: 18px;
                    font-weight: 800;
                }
                a{
                    font-size: 12px;
                }
                ul{
                    padding: 0;
                    column-count: 2;
                    column-gap: 7px;
                    li{
                        padding-bottom: 5px;
                    }
                }
    
            }
        }
    }
    
}


@media screen and (max-width: 450px){

    div{
        .header{
            height:125px;
        }
        .subhead{
            width: auto;
            padding:25px;
            h1{
                font-size: 80px;
                line-height: 60px;
                padding:0px;
            }

            p{
                font-size: 13px;
            }
        }
    }

    form{
        padding: 20px 20vw;
    
        label{
            font-size: 10px;
        }
    
        .row1{
            margin: 8px 0;
            select{
                margin-top: 3px;
                margin-right: 4vw;
                font-size: 10px;
            }
        
            input[type=text]{
                margin: 3px 0;
                width: 20vw;
                font-size: 10px;
            }
        }
        .row2{
            margin: 8px 0;
            input[type=email]{
                margin: 3px 0;
                border-radius: 8px;
                font-size: 10px;
            }
        }
    
        .row3{
            margin: 8px 0;
            textarea{
                margin: 3px 0;
                height: 40vw;
                font-size: 10px;
            }
        }
    
        button{
            padding: 8px 10px;
            font-size: 12px;
            border-radius: 8px;
        }
    }
    
    .socmed{
        padding: 20px 8vw; 
        p{
            font-size: 13px;
        }
        .socmed-accs{
            justify-content:center;
            flex-direction: column;
            column-gap: 0;
            span{
                padding: 4vw;
                h1{
                    font-size: 18px;
                    font-weight: 800;
                    text-align: center;
                    margin-bottom: 0;
                }
                a{
                    font-size: 10px;
                }
                ul{
                    padding: 0;
                    column-count: 2;
                    column-gap: 10px;
                    li{
                        padding-bottom: 0;
                    }
                }
    
            }
        }
    }

}

