div{
    .header{
      width:100%;
      overflow:hidden;
      height:250px;
      img{
        width:100%;
      }
    }
    .subhead{
      background-color: #fafafa;
      width:100%;
      display:flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 90px 0px;
      h1{
        font-family: header-font;
        font-size: 200px;
        line-height: 70px;
        padding: 20px 0px;
        color:#233620;
      }

      p{
        font-size: 20px;
        color:#233620;
        font-family: monserrat;
        margin: 0;
      }
    }
}

.intro{
    line-height: 25px;
    padding: 60px 150px;
    background-color: #628A3A;
    p{
        font-family: montserrat;
        font-size: 18px;
        color: #fafafa;
        text-align: justify;
    }
}

.qualifications{
    line-height: 25px;
    padding: 60px 150px;
    p{
        font-family: monserrat;
        font-size: 25px;
        font-weight: 600;
        //padding-top: 20px;
        color: #233620;
    }
    li{
        font-family: monserrat;
        font-size: 18px;
        line-height: 25px;
        padding-top: 20px;
        color: #628A3A;
    }

    .note{
        font-family: montserrat;
        font-size: 15px;
        font-weight: 400;
        color: #628A3A;
    }

    h1{
        font-family: monserrat;
        font-size: 30px;
        color: #233620;
        padding-top: 25px;
        align-self: center;
        justify-self: center;
        text-align: center;
    }
}

.link{
    background-color: #628A3A;
    text-align: center;
    justify-content: center;
    padding: 37px;
    p{
        font-family: monserrat;
        font-size: 25px;
        color: #fafafa;
        a{
            color: #233620;
            font-weight: 700;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

//--------------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 786px){

    div{
        .header{
            height:100px;
        }
        .subhead{
            padding: 50px 0px;
            h1{
            font-size: 120px;
            line-height: 85px;
            margin-bottom: 0;
            padding: 0;
            }

            p{
            font-size: 16px;
            }
        }
    }
    .intro{
        line-height: 23px;
        padding: 50px 90px;
        p{
            font-size: 15px;
        }
    }

    .qualifications{
        line-height: 20px;
        padding: 50px 90px;
        p{
            font-size: 20px;
        }
        li{
            font-size: 15px;
            line-height: 20px;
            padding-top: 18px;
        }

        .note{
            font-size: 12px;
        }

        h1{
            font-size: 27px;
            padding-top: 20px;
        }
    }

    .link{
        padding: 33px;
        p{
            font-size: 20px;
        }
    }
}


@media screen and (max-width: 450px){

    div{
        .header{
            height:125px;
        }
        .subhead{
            width: auto;
            padding:25px;
            h1{
                font-size: 80px;
                line-height: 60px;
                padding:0px;
            }

            p{
                font-size: 13px;
            }
        }
    }

    .intro{
        line-height: 18px;
        padding: 40px 60px;
        p{
            font-size: 13px;
        }
    }

    .qualifications{
        line-height: 18px;
        padding: 40px 60px;
        p{
            font-size: 15px;
        }
        li{
            font-size: 13px;
            line-height: 18px;
            padding-top: 15px;
        }

        .note{
            font-size: 10px;
        }

        h1{
            font-size: 18px;
            padding-top: 18px;
            margin-bottom: 0;
            line-height: 18px;
        }
    }

    .link{
        padding: 30px;
        p{
            font-size: 18px;
            margin-bottom: 0;
        }
    }

}

