<div>
    <div class = "header" id="top">
        <img src="assets/images/carousel/carousel1.jpg"/>
    </div>

    <div class ="subhead">
        <h1>Join Us</h1>
        <p>Be part of the change!</p>
    </div>
</div>

<div class="intro">
    <p>Welcome, applicant!</p>
    <p>Your courage and aspiration to be part of this organization shows your great interest in being part of something greater than yourself and becoming one of Bohol's Environmental Advocates, and we applaud you for that!</p>
    <p>Now, ready yourself as you are about to open the door towards environmental conservation and protection that has long been waiting for you.</p>
    <p>This is the official membership application form of Kabiling Lunhaw — an organization dedicated to preserving the integrity of Bohol as a prime eco-cultural destination — for Assembly Year 2021-2022.</p>
    <p>Let's see if you have what it takes to be an environmental advocate!</p>
</div>

<div class="qualifications">
    <p>APPLICANT QUALIFICATIONS</p>
    <ol>
        <li>Must be aged 15-25 years old on the time of application
            <ul>
                <li>teens aged 12-14 years old may still apply to the organization but for exposure purposes only e.g. being able to join, discuss, and contribute to committee conversations</li>
                <li>individuals aged 26 and above may apply for pro bono consultative roles for the youth who need it.</li>
            </ul>
        </li>
        <li>Must be based in the Province of Bohol on the time of application.</li>
    </ol>
    <p class="note">Note: Membership decisions will not discriminate on the basis of race, color, national origin, religion, sex, gender identity, and sexual orientation. </p>
    <h1>Do these apply to you? If so, we invite you to be a part of our organization!</h1>

</div>

<div class="link">
    <p>Fill up the application form now! Access it <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-zZHEoOiMtYy53EKaiGg243tYj7t-A5YgD_tH4Uoz-gFiSQ/viewform" target="_blank">here</a>.</p>
</div>
