<div class="container" *ngIf ='(project$ | async) as project'>
  <div class ="header">
      <h1>{{project.title}}</h1>
  </div>

  <div class="content">
      <div class="date">
          <h5 class="start">{{project.start_date}}</h5>
      </div>
      <img src="{{project.image.image}}" alt="{{project.title}}_img">
      <p>{{project.description}}</p>
  </div>
  <div class="gallery">
      <p>Project Gallery</p>

      <ng-image-slider *ngIf="project.gallery.length > 1; else noItem" [images]="project.gallery"
        [infinite]="false"
        [imageSize]="{width: '350', height: 300}"
        [slideImage]="2" #nav></ng-image-slider>
      <ng-template #noItem><p class="noProj">No image available for this project</p></ng-template>
  </div>
  <div class="partners">
      <p>Partners & Sponsors</p>
      <div class="logos" >
          <span *ngFor="let p of project.contributors">
              <img src="{{p.image.image}}" alt="{{p.name}}_img">
              <p>{{p.name}}</p>
          </span>
      </div>
  </div>
</div>
