.header{
  background-color: #628A3A;
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 75px 0px 40px 0px;
  h1{
    font-family: monserrat;
    font-size: 70px;
    line-height: 75px;
    font-weight: 700;
    padding: 20px 0px;
    color:white;
  }

  p{
    font-size: 20px;
    color:white;
    font-family: monserrat;
  }
}

.content{
font-family: monserrat;
margin: 60px auto;
max-width: 1350px;
min-height: 25vw;

.date{
  display: flex;
  flex-direction: row;
  margin: 15px ;

  h5{
    font-family: monserrat;
    font-size: 18px;
    margin-right: 75px;
  }
}
img {
  float:left;
  margin: 0 25px 20px 0;
  max-width: 30vw;
  max-height: 30vw;
  width: auto;
  height: auto;
  border-radius: 15px;
}
p{
  color:#233620;
  font-size: 125%;
  line-height: 130%;
  text-align: justify;
}
}

.gallery{
background-color: #628A3A;
text-align: center;
padding: 40px 50px;
  p{
    font-family: header-font;
    font-size: 120px;
    line-height: 50px;
    padding: 20px 0px;
    color:white;
    margin-bottom: 30px;
  }
  .noProj{
    font-size: 20px;
    font-family: monserrat;
  }


}

.partners{
width:100%;
text-align: center;
padding: 50px 0px 40px 0px;
p{
  font-family: header-font;
  font-size: 120px;
  line-height: 50px;
  padding: 20px 0px;
  color:#233620;
}
.logos{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-content: center;
  column-gap: 25px;
  row-gap: 25px;
  margin: 30px 50px;
  img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  p{
    font-size: 20px;
    color:#233620;
    font-family: monserrat;
    padding-top: 0;
  }
}

}

//--------------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 1470px){
.content{
  margin:60px;
}
}

@media screen and (max-width: 786px){

.header{
  padding: 75px 0px 40px 0px;
  h1{
    font-size: 120px;
    line-height: 30px;
    padding: 20px 0px;
  }

  p{
    font-size: 18px;
  }
}

.content{
margin: 50px;
min-height: 35vw;

.date{
  margin: 10px ;

  h5{
    font-size: 15px;
    margin-right: 60px;
  }
}
img {
  max-width: 40vw;
  max-height: 40vw;
  margin: 0 20px 9px 0;
}
p{
  font-size: 120%;
  line-height: 115%;
}
}

.gallery{
p{
  font-size: 115px;
  line-height: 80px;
}


}

.partners{
padding: 50px 0px 40px 0px;
p{
  font-size: 115px;
  line-height: 60px;
}
.logos{
  column-gap: 20px;
  row-gap: 20px;
  margin: 25px 40px;
  img{
    width: 115px;
    height: 115px;
  }
  p{
    font-size: 16px;
  }
}

}

}


@media screen and (max-width: 450px){

.header{
  padding: 40px 0px 20px 0px;
  h1{
    font-size: 650%;
    line-height: 20%;
    padding: 20px 0px;
  }

  p{
    font-size: 110%;
  }
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 40px;
  margin-top: 20px;

  .date{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    //margin-left: 50px ;

    h5{
      width: 40vw;
      text-align: center;
      font-size: 13px;
      margin: 5px 0;
    }
  }
  img {
    float:none;
    max-width: 75%;
    max-height: 75%;
    margin: 0 0 20px 0;
  }
  p{
    font-size: 110%;
    line-height: 115%;
  }
}

.gallery{
  padding: 30px;
  p{
    font-size: 600%;
    line-height: 75%;
  }


}

.partners{
  padding: 50px 0px 40px 0px;
  p{
    font-size: 600%;
    line-height: 50%;
  }
  .logos{
    column-gap: 20px;
    row-gap: 20px;
    margin: 25px 40px;
    img{
      width: 115px;
      height: 115px;
    }
    p{
      margin-top: 10px;
      font-size: 110%;
    }
  }

}

}
