<div class="back">
    <button mat-icon-button routerLink="/admin/single-page-list"><mat-icon>arrow_back</mat-icon></button>
    <h3>Back to Page List</h3>
</div>
<div class="container">
    <div class="buttons-section">
        <button mat-button (click)="toggleSection('jumbotron')">Jumbotron</button>
        <button mat-button (click)="toggleSection('event')">Featured Events</button>
        <button mat-button (click)="toggleSection('project')">Featured Projects</button>
    </div>
    <div class="info-panel">
        <div *ngIf="sectionChoice =='jumbotron'">
            <div class="header">
                <h2>Jumbotron</h2>
            </div>
            <div class="dropdown">
                <div class="label">
                    <p>Slide 1</p>
                    <select id="slide1">
                        <option disabled selected value> -- none selected -- </option>
                        <option *ngFor="let item of jumbotron">{{item.title}}</option>
                    </select>
                    <button mat-icon-button (click)="reset('slide1')"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
        <div *ngIf="sectionChoice=='event'">
            <div class="header">
                <h2>Featured Events</h2>
            </div>
            <div class="dropdown">
                <div class="label">
                    <p>Event 1</p>
                    <select id="event1">
                        <option disabled selected value> -- none selected -- </option>
                        <option *ngFor="let item of events">{{item.title}}</option>
                    </select>
                    <button mat-icon-button (click)="reset('event1')"><mat-icon>delete</mat-icon></button>
                </div>
                <div class="label">
                    <p>Event 2</p>
                    <select id="event2">
                        <option disabled selected value> -- none selected -- </option>
                        <option *ngFor="let item of events">{{item.title}}</option>
                    </select>
                    <button mat-icon-button (click)="reset('event2')"><mat-icon>delete</mat-icon></button>
                </div>
                <div class="label">
                    <p>Event 3</p>
                    <select id="event3">
                        <option disabled selected value> -- none selected -- </option>
                        <option *ngFor="let item of events">{{item.title}}</option>
                    </select>
                    <button mat-icon-button (click)="reset('event3')"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
        <div *ngIf="sectionChoice=='project'">
            <div class="header">
                <h2>Featured Projects</h2>
            </div>
            <div class="dropdown">
                <div class="label">
                    <p>Project 1</p>
                    <select id="proj1">
                        <option disabled selected value> -- none selected -- </option>
                        <option *ngFor="let item of projects">{{item.title}}</option>
                    </select>
                    <button mat-icon-button (click)="reset('proj1')"><mat-icon>delete</mat-icon></button>
                </div>
                <div class="label">
                    <p>Project 2</p>
                    <select id="proj2">
                        <option disabled selected value> -- none selected -- </option>
                        <option *ngFor="let item of projects">{{item.title}}</option>
                    </select>
                    <button mat-icon-button (click)="reset('proj2')"><mat-icon>delete</mat-icon></button>
                </div>
                <div class="label">
                    <p>Project 3</p>
                    <select id="proj3">
                        <option disabled selected value> -- none selected -- </option>
                        <option *ngFor="let item of projects">{{item.title}}</option>
                    </select>
                    <button mat-icon-button (click)="reset('proj3')"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div class="details">
        <h3>Page Details</h3>
        <hr>
        <p>Last Update: {{details.last_updated}}</p>
        <p>Updated by: {{details.updated_by}}</p>
    </div>
</div>

