div .header {
  width: 100%;
  overflow: hidden;
  height: 250px;
}

div .header img {
  width: 100%;
}

div .subhead {
  background-color: #fafafa;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 90px 0px;
}

div .subhead h1 {
  font-family: header-font;
  font-size: 180px;
  line-height: 125px;
  padding: 20px 0px;
  color: #233620;
}

div .subhead p {
  font-size: 20px;
  color: #233620;
  font-family: monserrat;
}

hr {
  width: 100%;
  border-top: 30px solid #628A3A;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.null {
  cursor: default !important;
}

.tree-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tree-container .tree {
  font-family: monserrat;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 3% 0%;
}

.tree-container .tree ul {
  padding-top: 20px;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.tree-container .tree ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}

.tree-container .tree li {
  display: inline-table;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.tree-container .tree li::before {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 51%;
  height: 10px;
}

.tree-container .tree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 51%;
  height: 10px;
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

.tree-container .tree li:only-child {
  padding-top: 0;
}

.tree-container .tree li:only-child::after {
  display: none;
}

.tree-container .tree li:only-child::before {
  display: none;
}

.tree-container .tree li:first-child::before {
  border: 0 none;
}

.tree-container .tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree-container .tree li:last-child::after {
  border: 0 none;
}

.tree-container .tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
}

.tree-container .tree li a {
  border: 1px solid #91ad75;
  padding: 10px;
  display: -ms-inline-grid;
  display: inline-grid;
  border-radius: 5px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.tree-container .tree li a img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px !important;
  border-radius: 100px;
  margin: auto;
}

.tree-container .tree li a span {
  border: 1px solid #91ad75;
  border-radius: 5px;
  color: #628A3A;
  padding: 8px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.tree-container .tree li a:hover {
  background: #628A3A;
  color: #fafafa;
  border: 1px solid #94a0b4;
}

.tree-container .tree li a:hover span {
  background: #628A3A;
  color: #fafafa;
  border: 1px solid #fafafa;
}

.tree-container .tree li a:hover + ul li a {
  background: #628A3A;
  color: #fafafa;
  border: 1px solid #fafafa;
}

.tree-container .tree li a:hover + ul li a span {
  color: #fafafa;
}

.tree-container .tree li a:hover + ul li::after {
  border-color: #94a0b4;
}

.tree-container .tree li a:hover + ul li::before {
  border-color: #94a0b4;
}

.tree-container .tree li a:hover + ul::before {
  border-color: #94a0b4;
}

.tree-container .tree li a:hover + ul ul::before {
  border-color: #94a0b4;
}

@media screen and (max-width: 936px) {
  div .header {
    height: 150px;
  }
  div .subhead {
    padding: 50px 0px;
  }
  div .subhead h1 {
    font-size: 100px;
    line-height: 85px;
    padding: 20px 0px;
  }
  div .subhead p {
    font-size: 16px;
  }
  hr {
    border-top: 20px solid #628A3A;
  }
  .tree-container .tree ul {
    padding-top: 15px;
  }
  .tree-container .tree ul ul::before {
    height: 15px;
  }
  .tree-container .tree li {
    padding: 7px;
  }
  .tree-container .tree li::before {
    height: 7px;
  }
  .tree-container .tree li::after {
    height: 7px;
  }
  .tree-container .tree li a {
    padding: 7px;
  }
  .tree-container .tree li a img {
    width: 40px;
    height: 40px;
    margin-bottom: 7px !important;
  }
  .tree-container .tree li a span {
    padding: 6px;
    font-size: 8px;
    line-height: 8px;
  }
}

@media screen and (max-width: 450px) {
  div .header {
    height: 125px;
  }
  div .subhead {
    padding: 30px 20px;
  }
  div .subhead h1 {
    font-size: 80px;
    line-height: 60px;
    padding: 10px 0px;
  }
  div .subhead p {
    font-size: 13px;
  }
  hr {
    border-top: 15px solid #628A3A;
  }
}
/*# sourceMappingURL=org-structure.component.css.map */