<div>
    <div class = "header" id="top">
        <img src="assets/images/carousel/carousel1.jpg"/>
    </div>

    <div class ="subhead">
        <h1>Organization Structure</h1>
        <p>Get to know our Leaders</p>
    </div>
</div>

<hr>

<div class="tree-container">
    <div class="tree">
        <ul>
            <li><a><span>General Assembly</span></a></li>
            <ul>
                <li><a><span>Board of Trustees</span></a></li>
                <ul>
                    <li><a><span>Campers</span></a></li>
                    <ul>
                        <li><a><span>Baybayon</span></a></li>
                        <li><a><span>Lasang</span></a></li>
                        <li><a><span>Suba</span></a></li>
                        <li><a><span>Zero Waste</span></a></li>
                    </ul>
                </ul>
                <li><a><span>Board of Trustees2</span></a></li>
            </ul>
        </ul>
    </div>
    
</div>

<hr>