<div>
    <div class = "header" id="top">
        <img src="assets/images/carousel/carousel1.jpg"/>
    </div>

    <div class ="subhead">
        <h1>Organization Structure</h1>
        <p>Get to know our Leaders</p>
    </div>
</div>

<hr>

<div class="tree-container">
    <div class="tree">
        <ul>
            <li><a class="null"><span>General Assembly</span></a>
                <ul>
                    <li ><a id="BoT" (click)="clickBoT()" class="bot-button"><span>Board of Trustees</span></a>
                        <ul>
                            <li><a class="null"><span>Campers</span></a>
                                <ul>
                                    <li (click)="clickBaybayon()" class="camp-button"><a id="Baybayon"><span>Baybayon</span></a></li>
                                    <li (click)="clickLasang()"><a id="Lasang"><span>Lasang</span></a></li>
                                    <li (click)="clickSuba()"><a id="Suba"><span>Suba</span></a></li>
                                    <li (click)="clickZW()"><a id="ZW"><span>Zero Waste</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>

        <ul *ngIf="showBaybayon" id="Baybayon">
            <li><a (click)="clickBaybayon()"><img src="assets/images/baybayon.png" alt="camp logo"><span>Baybayon</span></a>
                <ul>
                    <li><a (click)="getLeadersList('Camp Leader', campLeaders$)"><span>Camp Leader</span></a>
                        <ul>
                            <li><a (click)="getLeadersList('Asst. Camp Leader', campLeaders$)"><span>Asst. Camp Leader</span></a>
                                <ul>
                                    <li><a (click)="getLeadersList('Finance', campLeaders$)"><span>Finance<br>Cabin</span></a></li>
                                    <li><a (click)="getLeadersList('Publicity', campLeaders$)"><span>Publicity<br>Cabin</span></a></li>
                                    <li><a (click)="getLeadersList('Ways and Means', campLeaders$)"><span>Ways and Means<br>Cabin</span></a></li>
                                    <li><a (click)="getLeadersList('Secretary', campLeaders$)"><span>Secretariat<br>Cabin</span></a></li>
                                    <li><a (click)="getLeadersList('Program', campLeaders$)"><span>Programs<br>Cabin</span></a></li>
                                    <li><a (click)="getLeadersList('Research', campLeaders$)"><span>Research<br>Cabin</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <ul *ngIf="showLasang">
            <li><a (click)="clickLasang()"><img src="assets/images/lasang.png" alt="camp logo"><span>Lasang</span></a>
                <ul>
                  <li><a (click)="getLeadersList('Camp Leader', campLeaders$)"><span>Camp Leader</span></a>
                      <ul>
                          <li><a (click)="getLeadersList('Asst. Camp Leader', campLeaders$)"><span>Asst. Camp Leader</span></a>
                              <ul>
                                  <li><a (click)="getLeadersList('Finance', campLeaders$)"><span>Finance<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Publicity', campLeaders$)"><span>Publicity<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Ways and Means', campLeaders$)"><span>Ways and Means<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Secretary', campLeaders$)"><span>Secretariat<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Program', campLeaders$)"><span>Programs<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Research', campLeaders$)"><span>Research<br>Cabin</span></a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                </ul>
            </li>
        </ul>

        <ul *ngIf="showSuba">
            <li><a (click)="clickSuba()"><img src="assets/images/suba.png" alt="camp logo"><span>Suba</span></a>
                <ul>
                  <li><a (click)="getLeadersList('Camp Leader', campLeaders$)"><span>Camp Leader</span></a>
                      <ul>
                          <li><a (click)="getLeadersList('Asst. Camp Leader', campLeaders$)"><span>Asst. Camp Leader</span></a>
                              <ul>
                                  <li><a (click)="getLeadersList('Finance', campLeaders$)"><span>Finance<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Publicity', campLeaders$)"><span>Publicity<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Ways and Means', campLeaders$)"><span>Ways and Means<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Secretary', campLeaders$)"><span>Secretariat<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Program', campLeaders$)"><span>Programs<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Research', campLeaders$)"><span>Research<br>Cabin</span></a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                </ul>
            </li>
        </ul>

        <ul *ngIf="showZW">
            <li><a (click)="clickZW()"><img src="assets/images/zero.png" alt="camp logo"><span>Zero Waste</span></a>
                <ul>
                  <li><a (click)="getLeadersList('Camp Leader', campLeaders$)"><span>Camp Leader</span></a>
                      <ul>
                          <li><a (click)="getLeadersList('Asst. Camp Leader', campLeaders$)"><span>Asst. Camp Leader</span></a>
                              <ul>
                                  <li><a (click)="getLeadersList('Finance', campLeaders$)"><span>Finance<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Publicity', campLeaders$)"><span>Publicity<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Ways and Means', campLeaders$)"><span>Ways and Means<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Secretary', campLeaders$)"><span>Secretariat<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Program', campLeaders$)"><span>Programs<br>Cabin</span></a></li>
                                  <li><a (click)="getLeadersList('Research', campLeaders$)"><span>Research<br>Cabin</span></a></li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                </ul>
            </li>
        </ul>

        <ul *ngIf="showBoT">
            <li><a (click)="clickBoT()"><span>Board of Trustees</span></a>
                <ul>
                    <li><a (click)="getLeadersList('', directors$)"><span>Directors</span></a></li>
                    <li><a (click)="getLeadersList('', execs$)"><span>Executive Committee</span></a></li>
                </ul>
            </li>
        </ul>

        <ul>
            <li><a class="null"><span>Constitutional Committees</span></a>
                <ul>
                    <li><a (click)="getLeadersList('', grievance$)"><span>Grievances Committee</span></a></li>
                    <li><a (click)="getLeadersList('', election$)"><span>Election Committee</span></a></li>
                </ul>
            </li>
        </ul>

    </div>

</div>

<hr>

