div{
    .header{
        width:100%;
        overflow:hidden;
        height:250px;
        img{
        width:100%;
        }
    }
    .subhead{
        background-color: #fafafa;
        width:100%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 90px 0px;
        h1{
        font-family: header-font;
        font-size: 180px;
        line-height: 125px;
        padding: 20px 0px;
        color:#233620;
        }

        p{
        font-size: 20px;
        color:#233620;
        font-family: monserrat;
        }
    }
}

hr{
    width: 100%;
    border-top:30px solid #628A3A;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.null{
    cursor: default !important;
}

.tree-container {
	display: grid;
	align-items: center;

    .tree {
        font-family: monserrat;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 3% 0%;
        ul {
            padding-top: 20px;
            position: relative;
            transition: .5s;
            ul {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    border-left: 1px solid #ccc;
                    width: 0;
                    height: 20px;
                }
            }
        }
        li {
            display:inline-table;
            text-align: center;
            list-style-type: none;
            position: relative;
            padding: 10px;
            transition: .5s;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 50%;
                border-top: 1px solid #ccc;
                width: 51%;
                height: 10px;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 50%;
                border-top: 1px solid #ccc;
                width: 51%;
                height: 10px;
                right: auto;
                left: 50%;
                border-left: 1px solid #ccc;
            }
            &:only-child {
                &::after {
                    display: none;
                }
                &::before {
                    display: none;
                }
                padding-top: 0;
            }
            &:first-child {
                &::before {
                    border: 0 none;
                }
                &::after {
                    border-radius: 5px 0 0 0;
                }
            }
            &:last-child {
                &::after {
                    border: 0 none;
                }
                &::before {
                    border-right: 1px solid #ccc;
                    border-radius: 0 5px 0 0;
                }
            }
            a {
                border: 1px solid #91ad75;
                padding: 10px;
                display: inline-grid;
                border-radius: 5px;
                text-decoration-line: none;
                transition: .5s;
                cursor: pointer;


                img {
                    width: 50px;
                    height: 50px;
                    margin-bottom: 10px !important;
                    border-radius: 100px;
                    margin: auto;
                }
                span {
                    border: 1px solid #91ad75;
                    border-radius: 5px;
                    color: #628A3A;
                    padding: 8px;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 600;
                }
                &:hover {
                    background: #628A3A;
                    color: #fafafa;
                    border: 1px solid #94a0b4;
                    span {
                        background: #628A3A;
                        color: #fafafa;
                        border: 1px solid #fafafa;
                    }
                }

                &:hover+ul {
                    li {
                        a {
                            background: #628A3A;
                            color: #fafafa;
                            border: 1px solid #fafafa;
                            span{
                                color: #fafafa;
                            }
                        }
                        &::after {
                            border-color: #94a0b4;
                        }
                        &::before {
                            border-color: #94a0b4;
                        }
                    }
                    &::before {
                        border-color: #94a0b4;
                    }
                    ul {
                        &::before {
                            border-color: #94a0b4;
                        }
                    }
                }
            }
        }
    }

}

//--------------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 936px){
  div{
    .subhead{
      h1{
        font-size: 140px;
      }
    }
  }
  .container{
    .block{
      .announcements{
        width: 94vw;
        padding: 10px 3vw;
        height: auto;
      }
    }
  }

    hr{
        border-top:20px solid #628A3A;
    }

    .tree-container {
        .tree {
            ul {
                padding-top: 15px;
                ul {
                    &::before {
                        height: 15px;
                    }
                }
            }
            li {
                padding: 7px;
                &::before {
                    height: 7px;
                }
                &::after {
                    height: 7px;
                }
                a {
                    padding: 7px;
                    img {
                        width: 40px;
                        height: 40px;
                        margin-bottom: 7px !important;
                    }
                    span {
                        padding: 6px;
                        font-size: 8px;
                        line-height: 8px;
                    }

                }
            }
        }

    }


  }


  @media screen and (max-width: 450px){
    div{
      .subhead{
        padding: 40px 0px;
        h1{
          font-size: 100px;
          line-height: 90px;
          padding: 5px 10px;
          margin-bottom: 0px;
        }
      }
    }
    hr{
        border-top:15px solid #628A3A;
    }



  }

