.header{
  background-color: #628A3A;
  position: fixed;
  width:100%;
  height: 550px;
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
  top: 63px;
  z-index: -1;
}

.title{
  color: white;
  width: 80vw;
  max-width: 1300px;
  margin: 350px auto 0px auto;
  h1{
    font-family: monserrat;
    font-weight: 700;
    font-size: 70px;
    padding: 15px 0px;
  }
  h5{
    font-family: monserrat;
    font-size: 18px;
  }
}
.content{
  background: #fafafa;
  z-index: 3;
  font-family: monserrat;
  padding: 50px 0px;
  margin:70px auto auto;
  width:100%;
  box-shadow: 0px -18px 120px 120px #000000ab;
  min-height: 25vw;
  border-top: 50px solid #628A3A;

  .latest{
    float:right;
    background: rgba(103, 146, 61, 0.75);
    margin-right: 15vw;
    margin-left: 20px;
    top:0;
    padding: 15px;
    width: 200px;
    color: white;
    text-align: center;
    border-radius: 7px;
    h1{
      font-family: monserrat;
      border-bottom: 1px solid #fafafa;
      padding: 10px 0px;
    }
    h5{
      font-size: 15px;
      font-family: monserrat;
    }
  }
  p{
    width: 70vw;
    max-width: 1200px;
    margin: auto;
    color:#233620;
    font-size: 20px;
    line-height: 130%;
    text-align: justify;
  }

}


//--------------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 1470px){
}

@media screen and (max-width: 786px){


}


@media screen and (max-width: 450px){


}

