

// .container {
//   background-color: #628A3A !important;
//   padding: 15px !important;
//   border-radius: 15px;
//   overflow: hidden !important;
// }

mat-icon{
  float: right;
  top:-15px;
  right:-15px;
  color: #3b5c1e;
  cursor: pointer;
}

mat-dialog-content{
  margin: 0px;
  padding-left: 20%;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #d0dcc479;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #50772ccb;
    border-radius: 10px;
    &:hover {
      background: #3b5c1e;
    }
  }
}

.member{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 25px 0px;

    a{
      width: 13vw;
      background-color: transparent;
      border: 1.5px solid #3b5c1e;
      padding: 20px 10px;
      border-radius: 5px;
      display: inline-grid;
      margin: 0 30px 0 20px;
      img{
        width:70px;
        height:70px;
        margin-bottom: 10px !important;
        border-radius: 50%;
        margin: auto;
        }
        span{
          margin: 7px;
          text-align: center;
          color: #3b5c1e;
          padding: 8px;
          letter-spacing: 1px;
          font-weight: 500;

          p{
            font-family: monserrat;
            font-size: 12px;
            line-height: 1;
          }
          hr{
            width: 100%;
            height: 2px;
            border: none;
            background-color: #3b5c1e;
          }
          h2{
            font-family: monserrat;
            font-size:10px;
            margin:0;
            line-height: 0.5;
          }
        }
    }
  }

//--------------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 936px){

  mat-icon{
    top:-13px;
    right:-13px;
    font-size: 20px;
  }

  mat-dialog-content {
    max-height: 60vh !important;
    padding-left: 25%;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
    }
  }

  .member{
    margin: 13px 0px;

    a{
      width: 15vw;
      margin: 0 27px 0 17px;
      img{
        width:45px;
        height:45px;
        margin-bottom: 8px !important;
        }
      span{
        margin: 5px;
        p{
          font-size: 10px;
        }
        h2{
          font-size:8px;
        }
      }
    }
  }


  @media screen and (max-width: 649px){

    mat-icon{
      top:-8px;
      right:-8px;
      font-size: 20px;
    }
    mat-dialog-content{
      width:40vw;
      padding: 0 7px 0 13px;

      &::-webkit-scrollbar {
        visibility: hidden;
      }
      &::-webkit-scrollbar-track {
        visibility: hidden;
      }
      &::-webkit-scrollbar-thumb {
        visibility: hidden;
      }
    }
    .member{
      margin: 0;
      a{
        width: 25vw;
        margin: 10px 10px 10px 13px;
        img{
          margin-bottom: 7px !important;
          width:40px;
          height:40px;
          }
          span{
            margin: 5px;
            padding: 7px;
            p{
              font-size: 10px;
            }
            hr{
              height: 1.5px;
            }
            h2{
              font-size:8px;
            }
          }
      }
    }

    @media screen and (max-width: 475px){

      mat-dialog-content{
        padding: 0 5px 0 10px;
        width: 37vw;
      }
      .member{
        a{
          width: 23vw;
          margin: 5px 5px 5px 7px;
        }
      }

    }

  }
}

