
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-kalunwapallete: (
    50 : #ecf1e7,
    100 : #d0dcc4,
    200 : #b1c59d,
    300 : #91ad75,
    400 : #7a9c58,
    500 : #628a3a,
    600 : #5a8234,
    700 : #50772c,
    800 : #466d25,
    900 : #233620,
    A100 : #f5f7f3,
    A200 : #a1ff63,
    A400 : #82ff30,
    A700 : #040504,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kalunwa-web-app-primary: mat-palette($md-kalunwapallete);
$kalunwa-web-app-accent: mat-palette($md-kalunwapallete, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kalunwa-web-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kalunwa-web-app-theme: mat-light-theme((
  color: (
    primary: $kalunwa-web-app-primary,
    accent: $kalunwa-web-app-accent,
    warn: $kalunwa-web-app-warn)
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kalunwa-web-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: header-font;
  src: url(./assets/fonts/youth-touch.ttf) format("truetype");
}
@font-face {
  font-family: monserrat-light;
  src: url(./assets/fonts/Montserrat-Light.ttf) format("truetype");
}
@font-face {
  font-family: monserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
}
