<div class="back">
    <button mat-icon-button routerLink="/admin/single-page-list"><mat-icon>arrow_back</mat-icon></button>
    <h3>Back to Page List</h3>
</div>
<div class="container">
    <div class="committees">
        <button (click)="getLeadersList('', directors$)">Directors</button>
        <button (click)="getLeadersList('', execs$)">Executive Committee</button>
        <button (click)="toggleComm('Baybayon'); getLeadersList('', campLeaders$)">Baybayon</button>
        <button (click)="toggleComm('Lasang'); getLeadersList('', campLeaders$)">Lasang</button>
        <button (click)="toggleComm('Suba'); getLeadersList('', campLeaders$)">Suba</button>
        <button (click)="toggleComm('Zero Waste'); getLeadersList('', campLeaders$)">Zero Waste</button>
        <button (click)="getLeadersList('', grievance$)">Grievances Comittee</button>
        <button (click)="getLeadersList('', election$)">Election Committee</button>
    </div>
    <div class="members-card" *ngIf="selectedComm">
        <div class="header">
            <span>
                <h2>Update Committee or Camp</h2>
                <button mat-button><mat-icon>add</mat-icon> Add Member</button>
            </span>
        </div>
        <div class="members-container">
            <div class="members" *ngFor="let item of selectedComm | async">
                <img src="{{item.image.image}}" alt="image">
                <span class="info">
                    <span class="text">
                        <p>{{item.first_name}} {{item.last_name}}, <em>{{item.position}}</em></p>
                        <h5>{{item.quote}}</h5>
                    </span>
                </span>
                <span class="actions">
                    <mat-icon>edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </span>
            </div>
        </div>
    </div>
</div>