div{
  width:100%;
  height:70vh;
  background-color: rgb(197, 197, 197);
  position: relative;
  p{
    position:absolute;
    width:50%;
    top:40%;
    left:25%;
    text-align: center;
    font-size: 40px;
    font-family: monserrat;
  }
}
