<div class="container-fluid">
    <div class="cards">
        <span class="card">
            <div class="icon"><mat-icon>insights</mat-icon></div>
            <div class="label">
                <p>1080</p>
                <h5>Website Views</h5>
            </div>
        </span>
        <div class="card" id="pages" >
            <span class= "first">
                <div class="single" routerLink="/admin/single-page-list">
                    <div class="icon"><mat-icon>web_asset</mat-icon></div>
                    <h5>Singular</h5>
                </div>
                <div class="collective" routerLink="/admin/collective">
                    <div class="icon"><mat-icon>web</mat-icon></div>
                    <h5 >Collective</h5>
                </div>
            </span>
            <span class="overlay">

                <div class="icon"><mat-icon>web</mat-icon></div>
                <div class="label">
                    <p>10</p>
                    <h5>Page Content</h5>
                </div>
            </span>
        </div>
        <span class="card" routerLink="/admin/newsletter">
            <div class="icon"><mat-icon>contact_mail</mat-icon></div>
            <div class="label">
                <p>100</p>
                <h5>Newsletter Subscribers</h5>
            </div>
        </span>
        <span class="card" routerLink="/admin/admin-list">
            <div class="icon"><mat-icon>supervisor_account</mat-icon></div>
            <div class="label">
                <p>15</p>
                <h5>Administrators</h5>
            </div>
        </span>
    </div>
    <div class="logs">
        <table class="table">
            <tr class="table-header">
                <th colspan="5">Recent Audit Logs</th>
            </tr>
            <tr class="col-header">
                <th>Administrator</th>
                <th>Content Changed</th>
                <th>Action</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            <tr  class="table-content" *ngFor="let item of dashboard.audit_logs | slice:0:5">
                <td>{{item.administrator}}</td>
                <td>{{item.content_changed}}</td>
                <td>{{item.action}}</td>
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
            </tr>
            <tr class="footer">
                <th colspan="5"><a routerLink="/admin/audit">View all audit logs</a></th>
            </tr>
        </table>
    </div>
</div>
