.container-fluid{
    background-color: rgb(228, 228, 228);
    padding: 30px;
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
        gap: 20px;
        .card, .first, .overlay{
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            background-color: #fafafa;
            align-items: center;
            justify-content: center;
            position: relative;
            .icon{
                border-radius: 50%;
                width: 60px;
                height: 60px;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
                background-color: #536B3C;

                .mat-icon{
                    font-size: 37px;
                    height: auto;
                    width: auto;
                    text-align: center;
                    color: #fafafa;
                }
            }
            .label{
                text-align: center;
                font-family: monserrat;
                p{
                    font-size: 13px;
                    margin: 0;
                    padding: 0;
                }
                h5{
                    font-size: 15px;
                    max-width: 100px;
                    margin: 0;
                    padding: 0;
                }
            }


        }

        .card{
            box-shadow: 5px 5px #536B3C;
            padding: 20px;
            &:hover{
                transition: all 0.5s ease;
                background-color: #5c7437d2;
                color: #fafafa;
                cursor: pointer;
            }
        }

        #pages{
            padding: 0;
            overflow: hidden;
            .first{
                opacity: 0;
                z-index:2;
                .single, .collective{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 20px;
                    color: #233620;
                    .icon{
                        margin: 0;
                    }
                    &:hover{
                        transition: all 0.5s ease;
                        background-color: #5c7437d2;
                        color: #fafafa;
                        cursor: pointer;
                    }
                }
            }
            .overlay{
                position: absolute;
                top: 50%;  /* position the top  edge of the element at the middle of the parent */
                left: 50%; /* position the left edge of the element at the middle of the parent */
                transform: translate(-50%, -50%);
                opacity: 1;
                width: max-content;
                padding: 20px;
                z-index:1;
            }
            &:hover{
                .first{
                    transition: all 0.3s ease;
                    opacity: 1;
                }
                .overlay{
                    transition: all 0.3s ease;
                }
            }
        }
    }

    .logs{
        font-family: monserrat;
        color: #fafafa;
        margin: 50px;
        .table{
            width: 100%;
            border-radius: 10px;
            background-color: #fafafa;
            border-collapse: collapse;
            tr{
                height: 50px;
                td{
                    padding: 5px 20px;
                }
            }
            .table-header{
                background-color: #536B3C;
                height:60px;
                th{
                    font-size: 18px;
                    text-align: left;
                    padding: 5px 20px;
                    &:first-child{
                        border-radius:10px 10px 0 0;
                    }
                }
            }
            .col-header, .footer{
                background-color: #abada7;
                th{
                    text-align: left;
                    padding: 5px 20px;
                }
            }
            .table-content{
                color: #233620;
                &:hover{
                    background-color: #5c7437d2;
                    color: #fafafa;
                }
            }
            .footer{
                th{
                    text-align: right;
                    a{
                        text-decoration: none;
                        color: #fafafa;
                    }
                    &:first-child{
                        border-radius: 0 0 10px 10px;
                    }
                }
            }
        }
    }
}
