<div class="container">
  <form [formGroup]="profile" (ngSubmit)="onSubmit()">
    <div class="header">
      <span>
        <button mat-button type="button" routerLink="/admin/admin-list"><mat-icon>arrow_left</mat-icon></button>
        Create New Admin
      </span>
      <span><button mat-raised-button type="submit" color="primary">Save Admin</button>
        <button mat-button type="button"><mat-icon class="delete">delete</mat-icon></button></span>
    </div>
    <div class="body">
      <span *ngIf="loading" class="loadSpinner"><mat-spinner></mat-spinner></span>
      <h1 id="error-alert"  *ngIf="submitted">Admin creation unsuccessful.</h1>
      <div class="form-row">
          <mat-label style="margin:10px">Profile Picture</mat-label>
          <div class="profile-container">
            <img [src]="profileImage" [alt]="filename"/>
            <input type="file" class="file-input" id="fileImg"
            accept="image/*" (change)="onFileChange(fileUpload)" #fileUpload formControlName="image"/>

            <div class="file-upload">

              {{filename || "No Picture Provided"}}

              <button mat-icon-button class="upload-btn"
              (click)="fileUpload.value = '';fileUpload.click()" type="button">
              <mat-icon>attach_file</mat-icon>
              </button>
            </div>
          </div>

      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" >
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstname"/>
          <mat-error *ngIf="f.firstname.hasError('required')">First Name is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" >
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastname"/>
          <mat-error *ngIf="f.lastname.hasError('required')">Last Name is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" >
          <mat-label>Username</mat-label>
          <input matInput formControlName="username"/>
          <mat-error *ngIf="f.username.hasError('required')">Username is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill" >
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email"/>
          <mat-error *ngIf="f.email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>

  <form [formGroup]="updatePass">
    <div class="header">
      <span>
        Change Admin Password
      </span>
      <span><button mat-raised-button type="submit" color="primary">Update Password</button></span>
    </div>
    <div class="body">
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Old Password</mat-label>
          <input matInput type="password"  formControlName="oldpassword"/>
          <mat-error *ngIf="form2.oldpassword.hasError('required')">Old Password is required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput type="password"  formControlName="newpassword"/>
          <mat-error *ngIf="form2.newpassword.invalid">{{getErrorPassMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Confirm New Password</mat-label>
          <input matInput type="password"  formControlName="repassword"/>
          <mat-error *ngIf="form2.repassword.invalid">{{getErrorRepassMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
