<div class="container">
  <div class = "header">
  <img src="assets/images/carousel/carousel2.jpg"/>
  </div>

  <div class ="subhead">
    <h1>Suba</h1>
    <p>envision a water resource that meets the needs of its people</p>
  </div>

  <div class="socmed">
      <span><img src="assets/images/fb_logo.svg" alt="alt"><a href="#">KL Camp Suba</a></span>
      <span><img src="assets/images/twitter_logo.svg" alt="alt"><img src="assets/images/ig_logo.svg" alt="alt"><a href="#">@klcampsuba</a></span>
  </div>

  <div class="content">
      <mat-card class="content_img" style="background-image: url('{{camp.content_image}}');background-size: cover;background-position: center;" ></mat-card>
      <p>{{camp.content}}</p>
  </div>

  <div class="gallery">
      <p>Camp Gallery</p>
      <ng-image-slider [images]="camp.gallery" #nav></ng-image-slider>
  </div>

  <div class="events">
      <p>Camp Events</p>

      <div class="carousel">
          <div class="container-fluid">
              <div class="slider-wrap">
                  <div class="slider-main">
                      <div class="item" *ngFor="let event of camp.events">
                          <mat-card class="events-card" style="background-image: url('{{event.image.image}}');background-size: cover;background-position: center;" >
                              <div>
                                  <mat-card-content>
                                      <h1>{{event.title}}</h1>
                                  </mat-card-content>
                              </div>
                          </mat-card>
                      </div>
                  </div>
                  <div class="button-area">
                      <button type="button" class="prev" appPrev><mat-icon>keyboard_arrow_left</mat-icon></button>
                      <button type="button" class="next" appNext><mat-icon>keyboard_arrow_right</mat-icon></button>
                  </div>
              </div>
          </div>
      </div>

  </div>

  <div class="projects">
      <p>Camp Projects</p>

      <div class="carousel">
          <div class="container-fluid">
              <div class="slider-wrap">
                  <div class="slider-main">
                      <div class="item" *ngFor="let project of camp.projects">
                          <mat-card class="events-card" style="background-image: url('{{project.image.image}}');background-size: cover;background-position: center;" >
                              <div>
                                  <mat-card-content>
                                      <h1>{{project.title}}</h1>
                                  </mat-card-content>
                              </div>
                          </mat-card>
                      </div>
                  </div>
                  <div class="button-area">
                      <button type="button" class="prev" appPrev><mat-icon>keyboard_arrow_left</mat-icon></button>
                      <button type="button" class="next" appNext><mat-icon>keyboard_arrow_right</mat-icon></button>
                  </div>
              </div>
          </div>
      </div>

  </div>

  <div class="other-camps">
      <p>Other Camps</p>

      <mat-card class="events-card">
          <div>
              <a href="/baybayon"><img mat-card-lg-image src="assets/images/baybayon.png" ></a>
          </div>
          <div>
              <a href="/suba"><img mat-card-lg-image src="assets/images/suba.png" ></a>
          </div>
          <div>
              <a href="/zero-waste"><img mat-card-lg-image src="assets/images/zero.png" ></a>
          </div>

      </mat-card>

  </div>
</div>
