.container{
  background-color: #8CCEF0;
  .header{
      width:100%;
      overflow:hidden;
      height:250px;
      img{
        width:100%;
      }
    }
  .subhead{
      width:100%;
      display:flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 40px 0px;
      h1{
          color: #fafafa;
          font-family: header-font;
          font-size: 200px;
          line-height: 70px;
          padding: 40px 0px;
      }

      p{
          padding-top: 40px;
          font-size: 18px;
          font-family: monserrat;
          color: #481A19;
      }
  }

  .socmed{
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 20px;
      justify-content: center;
      column-gap: 50px;
      background-color: #1C8BD4;
      span{
          height: fit-content;
          img{
              vertical-align: middle;
              margin-right: 7px;
              filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(103%) contrast(96%);
          }
          a{
              text-align: center;
              text-decoration: none;
              color: #fafafa;
              font-family: monserrat;
              font-size: 18px;
              vertical-align: middle;
          }
      }
  }

  .content{

      min-height:50vh;
      max-width: 1200px;
      padding: 50px 50px;
      margin:auto;
      .content_img{
          float: left;
          height: 22vw;
          max-width: 230px;
          max-height: 317px;
          width: 16vw;
          border-radius: 15px;
          margin-right: 30px;
      }
      p{
          text-align:justify;
          font-family: monserrat;
          font-size: 20px;
          line-height: 150%;
          color:#481A19;
          min-height: 300px;
      }

  }

  .gallery{
      text-align: center;
      padding: 40px 50px;
      background-color: #1C8BD4;
      p{
        font-family: header-font;
        font-size: 120px;
        line-height: 50px;
        padding: 20px 0px;
        color:#fafafa;
        margin-bottom: 40px;
      }
  }

  .events{
      padding: 40px 50px;
      p{
          text-align: center;
          font-family: header-font;
          font-size: 120px;
          line-height: 50px;
          padding: 20px 0 0;
          color:#fafafa;
          margin-bottom: 30px;
      }
  }

  .projects{
      padding: 40px 50px;
      background-color: #1C8BD4;
      p{
          text-align: center;
          font-family: header-font;
          font-size: 120px;
          line-height: 50px;
          padding: 20px 0 0;
          color:#fafafa;
          margin-bottom: 30px;
      }
  }

  .carousel{
      padding: 20px 0;
      .slider-wrap{
          position: relative;
          overflow: hidden;
          height: 200px;
          .slider-main{
              position: absolute;
              width: 200%;
              .item{
                  display: inline-block;
                  position: relative;
                  margin-right: 5px;
                  .events-card{
                      border-radius: 8px;
                      width: 205px;
                      height: 205px;
                      box-shadow: none;
                      color: #fafafa;
                      padding:0;
                      div{
                          position: absolute;
                          display:flex;
                          justify-content: left;
                          flex-direction: row;
                          align-items: flex-end;
                          overflow: hidden;
                          text-align: left;
                          width:100%;
                          height:100%;

                          .mat-card-content{
                            padding:0px 20px;
                            font-size: 12px;
                            opacity: 0;

                            h1{
                              font-size:25px;
                              color:white;
                              width: 100%;
                              flex-grow: 5;
                              font-family: monserrat;
                              line-height:100%;
                              padding:0;
                              margin: 0;
                            }
                          }
                          &:hover{
                              background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
                              cursor: pointer;
                              .mat-card-content{
                                  opacity: 1;
                                  transition: opacity 0.4s;
                              }
                          }
                      }
                  }
              }

          }
          button{
              width: 35px;
              height: 35px;
              border: none;
              background-color: #fafafae5;
              border-radius: 50%;
              margin: 0;
              padding: 0;
              opacity: 0.6;
              color: #628A3A;
              &:hover{
                  cursor: pointer;
                  opacity: 1;
                  transition: opacity 0.3s;
              }
          }
          .prev{
              position: absolute;
              top: 50%;
              left: 2.25vw;
              transform: translate(-50%,-50%);
          }
          .next{
              position: absolute;
              top: 50%;
              right:-0.5vw;
              transform: translate(-50%,-50%);
          }

      }
  }

  .other-camps{
      background-color: #628A3A;
      text-align: center;
      padding: 40px 50px;
      p{
        font-family: header-font;
        font-size: 120px;
        line-height: 50px;
        padding: 20px 0px;
        color:#fafafa;
        margin-bottom: 20px;
      }
      .mat-card{
          background-color: transparent;
          box-shadow: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          column-gap: 50px;
          div{
              width:130px;
              height:130px;
              border-radius: 50%;
              background-color: transparent;
              transition: .2s ease-in-out;
              img{
                object-fit: cover;
                transform: scale(1);
                transition: .2s ease-in-out;
                margin:0px;
                width:130px;
                height:130px;
              }
              &:hover{
                  background-color: #fafafa;
                  cursor: pointer;
              }
          }
      }
  }
}

//--------------------------MEDIA QUERY-----------------------------------

@media screen and (max-width: 786px){
  .container{
    .header{
        height:200px;
      }
    .subhead{
        padding: 37px 0px;
        h1{
            font-size: 150px;
            line-height: 60px;
            padding: 37px 0px;
        }

        p{
            padding-top: 35px;
            font-size: 15px;
        }
    }

    .socmed{
        padding: 13px;
        span{
            img{
                margin-right: 5px;
            }
            a{
                font-size: 12px;
            }
        }
    }

    .content{
        min-height:50vh;
        padding: 45px 60px;
        .content_img{
            height: 30vw;
            width: 25vw;
            margin-right: 27px;
        }
        p{
            font-size: 15px;
        }

    }

    .gallery{
        padding: 35px 40px;
        p{
            font-size: 110px;
        }
    }

    .events{
        padding: 35px 40px;
        p{
            font-size: 110px;
        }
    }

    .projects{
        padding: 35px 40px;
        p{
          font-size: 110px;
        }
    }

    .carousel{
        .slider-wrap{
            button{
                width: 5vw;
                height: 5vw;
            }
            .prev{
                left: 24px;
            }
            .next{
                right:-9px;
            }

        }
    }


    .other-camps{
        padding: 30px 50px;
        p{
          font-size: 110px;
          padding: 17px 0px;
          margin-bottom: 17px;
        }
        .mat-card{
            column-gap: 30px;
            div{
                width:100px;
                height:100px;
                img{
                  width:100px;
                  height:100px;
                }
            }
        }
    }
  }

}

@media screen and (max-width: 450px){
  .container{
    .header{
        height:125px;
      }
    .subhead{
        padding: 20px 0px;
        h1{
            font-size: 100px;
            line-height: 50px;
            padding: 30px 0px;
        }

        p{
            padding: 10px 7px 0 7px;
            font-size: 12px;
        }
    }

    .socmed{
        padding: 5px;
        column-gap: 10px;
        span{
            img{
                margin-right: 5px;
                width: 20px;
                height: 20px;
            }
            a{
                font-size: 10px;
            }
        }
    }

    .content{
        padding: 35px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        .content_img{
            float: none;
            width: 60vw;
            height: 15vh;
            margin: 0 0 20px 0;
        }
        p{
            font-size: 13px;
        }

    }

    .gallery{
        padding: 20px 30px;
        p{
            font-size: 80px;
        }
    }

    .events{
        padding: 30px 40px;
        p{
            font-size: 80px;
        }
    }

    .projects{
        padding: 30px 40px;
        p{
            font-size: 80px;
        }
    }

    .other-camps{
        padding: 30px 40px;
        p{
          font-size: 80px;
          padding: 15px 0px;
          margin-bottom: 15px;
        }
        .mat-card{
            column-gap: 20px;
            div{
                width:80px;
                height:80px;
                img{
                  width:80px;
                  height:80px;
                }
            }
        }
    }

  }

}
