.mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 12px 0;
    .mat-toolbar-row{
        justify-content: space-between;
        color: #233620;
        .logo{
            font-family: monserrat;
            font-size: 20px;
            font-weight: 600;
            img{
                width: 45px;
                height: 45px;
                margin-right: 5px;
                margin-left: 20px;
                vertical-align: middle;
            }
        }
        .profile{
            margin-right: 20px;
            font-family: monserrat;
            font-size: 15px;
            a{
                text-decoration: none;
                color: #233620;
                img{
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin-left: 8px;
                    vertical-align: middle;
                }
            }
        }
    }
}
